<!--
<h2>Welcome <span *ngIf="userdetails">{{userdetails.firstname}} {{userdetails.lastname}}</span></h2>
<ul *ngIf="userdetails">
  <li>
    <a [routerLink]="['/']" target="_blank"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  </li>
  <li>
    <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-black-tie" aria-hidden="true"></i> Admin Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-admin']"><i class="fa fa-plus" aria-hidden="true"></i> Add Admin</a></li>
      <li><a [routerLink]="['/admin-list']"><i class="fa fa-list" aria-hidden="true"></i> Admin List</a></li>
    </ul>
  </li>
  <li *ngIf="userdetails.admin == 1"><a [routerLink]="['/affiliate-list']"><i class="fa fa-life-ring" aria-hidden="true"></i> Affiliate List</a></li>
  <li *ngIf="userdetails.admin == 1"><a [routerLink]="['/ambassador-list']"><i class="fa fa-life-ring" aria-hidden="true"></i> Ambassador List</a></li>
  <li *ngIf="userdetails.admin == 1"><a [routerLink]="['/user-list']"><i class="fa fa-users" aria-hidden="true"></i> User List</a></li>
  <li *ngIf="userdetails.signupaffiliate==1 || userdetails.ambassador==1"><a [routerLink]="['/affiliate-list']"><i class="fa fa-life-ring" aria-hidden="true"></i> Affiliate Under Me</a></li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Blog Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-blog']"><i class="fa fa-plus" aria-hidden="true"></i> Add Blog</a></li>
      <li><a [routerLink]="['/blog-list']"><i class="fa fa-list" aria-hidden="true"></i> Blog List</a></li>
    </ul>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Genre Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-genre']"><i class="fa fa-plus" aria-hidden="true"></i> Add Genre</a></li>
      <li><a [routerLink]="['/genre-list']"><i class="fa fa-list" aria-hidden="true"></i> Genre List</a></li>
    </ul>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Promocode Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-promocode']"><i class="fa fa-plus" aria-hidden="true"></i> Add Promocode</a></li>
      <li><a [routerLink]="['/promocode-list']"><i class="fa fa-list" aria-hidden="true"></i> Promocode List</a></li>
    </ul>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Product Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-product']"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</a></li>
      <li><a [routerLink]="['/product-list']"><i class="fa fa-list" aria-hidden="true"></i> Product List</a></li>
    </ul>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Competition Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-competition']"><i class="fa fa-plus" aria-hidden="true"></i> Add Competition</a></li>
      <li><a [routerLink]="['/competition-list']"><i class="fa fa-list" aria-hidden="true"></i> Competition List</a></li>
    </ul>
  </li>
  <li class="dropdown" *ngIf="userdetails.admin == 1 || userdetails.signupaffiliate==1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Media Management<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['/add-media']"><i class="fa fa-plus" aria-hidden="true"></i> Add Media</a></li>
      <li><a [routerLink]="['/media-list']"><i class="fa fa-list" aria-hidden="true"></i> Media List</a></li>
    </ul>
  </li>
  <li *ngIf="userdetails.admin == 1 || userdetails.signupaffiliate==1 || userdetails.ambassador==1"><a [routerLink]="['/sponsor-list']"><i class="fa fa-file" aria-hidden="true"></i> Sponsor List</a></li>
  <li *ngIf="userdetails.admin == 1"><a [routerLink]="['/all-competition-signup']"><i class="fa fa-file" aria-hidden="true"></i> All Signups For Competition</a></li>
  <li><a [routerLink]="['/my-order']"><i class="fa fa-file" aria-hidden="true"></i> My Order</a></li>
  <li><a [routerLink]="['/order-list']" *ngIf="userdetails.admin == 1 || userdetails.signupaffiliate==1 || userdetails.ambassador==1"><i class="fa fa-file" aria-hidden="true"></i> Order List</a></li>
  <li><a [routerLink]="['/commission-list']" *ngIf="userdetails.admin == 1 || userdetails.signupaffiliate==1"><i class="fa fa-file" aria-hidden="true"></i> Commission List</a></li>
  <li *ngIf="userdetails.admin == 1"><a [routerLink]="['/affiliate-report']"><i class="fa fa-file" aria-hidden="true"></i> Affiliate Report (On basis of Media)</a></li>
  <li><a [routerLink]="['/my-account']"><i class="fa fa-user" aria-hidden="true"></i> My Account</a></li>
  <li><a [routerLink]="['/change-password']"><i class="fa fa-lock" aria-hidden="true"></i> Change Password</a></li>
  <li><a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out </a></li>
</ul>
-->

<!--<h2>Welcome <span *ngIf="userdetails">{{userdetails.firstname}} {{userdetails.lastname}}</span></h2>-->

<ul *ngIf="userdetails" class="sub-menu">
  <li class="homecls">
    <a [routerLink]="['/']" target="_blank">Home</a>
  </li>


  <li *ngIf="userdetails.signupaffiliate==1" [ngClass]="router.url === '/affiliate-dashboard' ? 'dashboardcls' : ''">
    <a [routerLink]="['/affiliate-dashboard']">Dashboard</a>
  </li>

  <li *ngIf="userdetails.admin==1" [ngClass]="router.url === '/dashboard' ? 'dashboardcls' : ''">
    <a [routerLink]="['/dashboard']">Dashboard</a>
  </li>
  <li *ngIf="userdetails.ambassador==1" [ngClass]="router.url === '/ambassador-dashboard' ? 'dashboardcls' : ''">
    <a [routerLink]="['/ambassador-dashboard']">Dashboard</a>
  </li>

  <li  class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Manager<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li  [ngClass]="router.url === '/admin-list' ? 'dashboardcls' : ''"><a [routerLink]="['/admin-list']">Admins</a></li>
      <li [ngClass]="router.url === '/ambassador-list' ? 'dashboardcls' : ''" ><a [routerLink]="['/ambassador-list']">Ambassadors</a></li>
      <li [ngClass]="router.url === '/affiliate-list' ? 'dashboardcls' : ''" ><a [routerLink]="['/affiliate-list']">Affiliates</a></li>
      <li [ngClass]="router.url === '/user-list' ? 'dashboardcls' : ''"><a  [routerLink]="['/user-list']">Users</a></li>
    </ul>
  </li>

  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product Manager<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li [ngClass]="router.url === '/promocode-list' ? 'dashboardcls' : ''"><a  [routerLink]="['/promocode-list']">Promo Code List</a></li>
      <li [ngClass]="router.url === '/product-list' ? 'dashboardcls' : ''" ><a [routerLink]="['/product-list']">Product List</a></li>
    </ul>
  </li>

  <li [ngClass]="router.url === '/order-list' ? 'dashboardcls' : ''"  *ngIf="userdetails.admin == 1">
    <a  [routerLink]="['/order-list']">Order List</a>
  </li>
  <!--for order list under affiliate-->
  <li [ngClass]="router.url === '/myorder' ? 'dashboardcls' : ''" *ngIf="userdetails.signupaffiliate==1">
    <a  [routerLink]="['/myorder']" >My order</a>
  </li>
  <!--<li [ngClass]="router.url === '/my-order' ? 'dashboardcls' : ''" *ngIf="userdetails.signupaffiliate==1">
    <a  [routerLink]="['/my-order']" >My order</a>
  </li>-->
  <li  *ngIf="userdetails.signupaffiliate!=1 " [ngClass]="router.url === '/user-list' ? 'dashboardcls' : ''"><a  [routerLink]="['/user-list']">User list</a></li>

  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Competition Manager<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li [ngClass]="router.url === '/competition-list' ? 'dashboardcls' : ''"><a  [routerLink]="['/competition-list']">Competition List</a></li>
      <li [ngClass]="router.url === '/genre-list' ? 'dashboardcls' : ''"><a  [routerLink]="['/genre-list']">Genre List</a></li>
      <li [ngClass]="router.url === '/competition-signup' ? 'dashboardcls' : ''" ><a [routerLink]="['/competition-signup']">Competition Sign-ups</a></li>
      <li  [ngClass]="router.url === '/manage-competition-signup' ? 'dashboardcls' : ''" ><a [routerLink]="['/manage-competition-signup']">Manage Competition Sign-Ups</a></li>
      <li [ngClass]="router.url === '/competition-stats' ? 'dashboardcls' : ''"><a  [routerLink]="['/competition-stats']">Competition Stats</a></li>
    </ul>
  </li>

  <li class="dropdown" *ngIf="userdetails.admin == 1">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media Manager<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li  [ngClass]="router.url === '/media-list' ? 'dashboardcls' : ''"><a [routerLink]="['/media-list']">Media List</a></li>
      <li [ngClass]="router.url === '/media-interest-report' ? 'dashboardcls' : ''"><a [routerLink]="['/media-interest-report']">Media Interest Report</a></li>
    </ul>
  </li>

  <li *ngIf="userdetails.admin == 1" [ngClass]="router.url === '/sponsor-list' ? 'dashboardcls' : ''">
    <a [routerLink]="['/sponsor-list']">Sponsor List</a>
  </li>

  <li *ngIf="userdetails.signupaffiliate==1 " [ngClass]="router.url === '/affiliatemediamarketing' ? 'dashboardcls' : ''">
    <a [routerLink]="['/affiliatemediamarketing']">Media Marketing</a>
  </li>
  <li *ngIf="userdetails.ambassador==1" [ngClass]="router.url === '/affiliatemediamarketing' ? 'dashboardcls' : ''">
    <a [routerLink]="['/ambassadormediamarketing']">Media Marketing</a>
  </li>

  <li *ngIf="userdetails.signupaffiliate==1 || userdetails.ambassador==1" [ngClass]="router.url === '/affiliatetree' ? 'dashboardcls' : ''">
    <a [routerLink]="['/affiliatetree']">Affiliate Tree</a>
  </li>

  <li *ngIf="userdetails.signupaffiliate==1 || userdetails.ambassador==1" [ngClass]="router.url === '/upcomingevents' ? 'dashboardcls' : ''">
    <a [routerLink]="['/upcomingevents']">Upcoming Blogs</a>
  </li>

  <li [ngClass]="router.url === '/commission-list' ? 'dashboardcls' : ''">
    <a [routerLink]="['/commission-list']" *ngIf="userdetails.admin == 1 || userdetails.signupaffiliate==1">Commission List</a>
  </li>

  <li class="dropdown" *ngIf="userdetails.admin == 1" [ngClass]="router.url === '/event-list' ? 'dashboardcls' : ''">
    <a [routerLink]="['/event-list']" >Event/Blog Management</a>
  </li>

  <!--<li [ngClass]="router.url === '/my-order' ? 'dashboardcls' : ''"><a [routerLink]="['/my-order']">My Order</a></li>-->

  <li [ngClass]="router.url === '/my-account' ? 'dashboardcls' : ''"><a [routerLink]="['/my-account']">My Account</a></li>
  <li [ngClass]="router.url === '/savedcards' ? 'dashboardcls' : ''"><a [routerLink]="['/savedcards']">Saved Cards</a></li>

  <li><a href="javascript:void(0)" (click)="logout()">Log out </a></li>

</ul>







