<!--<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4> Add Blog</h4>
          <div class="dashboard1form">
            <form name="dataForm" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div *ngIf="is_error" class="singleerror">{{is_error}}</div>
              <div class="form-group">
                <label>Blog Title*</label>
                <input type="text" class="form-control" name="title" [formControl]="dataForm.controls['title']">
                <span *ngIf ="dataForm.controls['title'].touched && !dataForm.controls['title'].valid" class="has-error">Blog Title field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Description*</label>
                <ck-editor name="description" [formControl]="dataForm.controls['description']" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>
                <span *ngIf ="dataForm.controls['description'].touched && !dataForm.controls['description'].valid" class="has-error">Blog Description field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Videos</label>
                <input type="text" class="form-control" name="videolink" [formControl]="dataForm.controls['videolink']" placeholder="Type/paste youtube URL" autocomplete="off">
                <input type="button" value="Add" (click)="addYTvideo()">
                <span *ngIf ="videolinkerror" class="has-error">Please type/paste valid youtube URL</span>
                <div>
                  <div class="col-md-4 embed-responsive embed-responsive-16by9" *ngFor="let item of videos">
                    <iframe class="embed-responsive-item" [src]="getYTURL(item)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <label>Images</label>
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                <input type="button" (click)="fileInput.click()" value="Select File">
                <span *ngIf ="imageserror" class="has-error">Please upload image</span>
                <div>
                  <div class="col-md-4" style="height: 200px; overflow: hidden;" *ngFor="let item of images">
                    <img style="width: 100%" src="{{siteurl}}nodeserver/uploads/{{item}}" >
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <input type="submit" name="submit" value="SUBMIT" class="loginbtn2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>-->

<!--<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">



        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>-->


<div class="formnewpopupheader">
  <!--<h4>Add Blog</h4>-->
  <h4>Add Event/Blog</h4>
</div>

<div class="dashboard1form formnewpopup">
  <form name="dataForm" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)" class="form-horizontal">
    <div *ngIf="is_error" class="singleerror">{{is_error}}</div>
    <div class="form-group">
      <div class="col-md-4 control-label text-left"><label>*Type:</label></div>
      <div class="col-md-8">
        <select class="form-control"  name="type"  [formControl]="dataForm.controls['type']" (blur)="_commonservices.inputUntouch(dataForm,'type')">
        <option value="">Select One</option>
        <option value="event">Event</option>
        <option value="blog">Blog</option>
      </select>
        <span *ngIf ="dataForm.controls['type'].touched && !dataForm.controls['type'].valid" class="has-error"> Type field can not be blank</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 control-label text-left"><label>*Title:</label></div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="title" [formControl]="dataForm.controls['title']">
        <span *ngIf ="dataForm.controls['title'].touched && !dataForm.controls['title'].valid" class="has-error">Blog Title field can not be blank</span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-12 control-label text-left"><label>*Description:</label></div>
      <div class="col-md-12">
        <ck-editor name="description" [formControl]="dataForm.controls['description']" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>
        <span *ngIf ="dataForm.controls['description'].touched && !dataForm.controls['description'].valid" class="has-error">Blog Description field can not be blank</span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-4 control-label text-left"><label>*Who would you like to share this blog with?</label></div>
      <div class="col-md-8">
        <div class="newcheckboxdiv">
          <div name="shareblog" >
            <input type="checkbox" [formControl]="dataForm.controls['user']" name="checkbox1" value="user" (change)="allcheck()" ><label>Users</label>
            <div class="newcheckboxsubdiv">
              <div><input type="checkbox" name="checkbox11" [formControl]="dataForm.controls['musicians']"  value="false"><label>Musician</label></div>
              <div><input type="checkbox" name="checkbox12" [formControl]="dataForm.controls['dancer']" value="false"><label>Dancers</label></div>
              <div><input type="checkbox" name="checkbox13" [formControl]="dataForm.controls['model']" value="false"><label>Model</label></div>
              <div><input type="checkbox" name="checkbox14" [formControl]="dataForm.controls['producer']" value="false"><label>Producer</label></div>
              <div><input type="checkbox" [formControl]="dataForm.controls['fan']"  name="checkbox15" value="false"><label>Fan</label></div>




            </div>
          </div>
          <div><input type="checkbox" name="checkbox2" [formControl]="dataForm.controls['signupaffiliate']"><label>Affiliates</label>  </div>
          <div><input type="checkbox" name="checkbox3" [formControl]="dataForm.controls['ambassadors']"><label>Ambassadors</label>  </div>
        </div>
        <!--<span *ngIf ="dataForm.controls['shareblog'].touched && !dataForm.controls['shareblog'].valid" class="has-error">Choose Share Blog</span>-->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 control-label text-left"><label>When would you like this visible to the public?</label></div>
      <div class="col-md-8 text-left">
        <div class="row">
          <div class="col-md-4 control-label text-left"><label>Start Date: </label></div>
          <div class="col-md-8 text-left">
            <input type="date" class="form-control" name="startdate" placeholder="Startdate" [formControl]="dataForm.controls['startdate']">
            <span *ngIf ="dataForm.controls['startdate'].touched && !dataForm.controls['startdate'].valid" class="has-error">startdate field can not be blank</span>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 control-label text-left"><label>End Date: </label></div>
          <div class="col-md-8 text-left">

            <input type="date" class="form-control" name="enddate" placeholder="End Date" [formControl]="dataForm.controls['enddate']">
            <span *ngIf ="dataForm.controls['enddate'].touched && !dataForm.controls['enddate'].valid" class="has-error">end date field can not be blank</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 control-label text-left"> <label>Videos</label></div>
      <div class="col-md-8 text-left">
        <input type="text" class="form-control" name="videolink" [formControl]="dataForm.controls['videolink']" placeholder="Type/paste youtube URL" autocomplete="off">
        <input type="button" value="Add" (click)="addYTvideo()" class="btnadduploadurl loginbtn2">
        <span *ngIf ="videolinkerror" class="has-error">Please type/paste valid youtube URL</span>
        <div>
          <div class="col-md-4 embed-responsive embed-responsive-16by9" *ngFor="let item of videos">
            <iframe class="embed-responsive-item" [src]="getYTURL(item)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 control-label text-left"><label>Images</label></div>
      <div class="col-md-8 text-left">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <input type="button" class="addbtn2" (click)="fileInput.click()" value="Select File">
        <span *ngIf ="imageserror" class="has-error">Please upload image</span>
        <div>
          <div class="col-md-4" style="height: 200px; overflow: hidden;" *ngFor="let item of images">
           <!-- <img style="width: 100%" src="{{siteurl}}nodeserver/uploads/{{item}}" >-->
            <img style="width: 100%" src="{{_commonservices.fileurl}}{{item}}" >
          </div>
        </div>
      </div>
    </div>
    <input type="submit" name="submit" value="SUBMIT" class="loginbtn2">
  </form>
</div>