<!--
<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <h4>BLog List</h4>
          <div class="tablediv">
            <div class="tabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <a [routerLink]="['/add-blog']" class="loginbtn2"><i class="fa fa-plus"></i> Add Blog</a>
                    </li>
                  </ul>
                </form>
              </div>
            </div>            <table>
              <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Added By</th>
                <th>Added on</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of bloglist | blogfilter : searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.title}}</td>
                <td><div  [innerHTML]="item.description | safehtml:300"></div></td>
                <td>{{item.parentname}}</td>
                <td>{{(item.added_time*1000) | date :  "MM/dd/yyyy" }}</td>
                <td>
                  <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>
                  <a *ngIf="item.status == 1" class="statusactive" href="javascript:void(0)" (click)="cngstatus(item)">Active</a>
                </td>
                <td>
                  <a class="loginbtn2 btnedit" [routerLink]="['/edit-blog',item._id]"><i class="fa fa-pencil"></i><span>Edit</span></a>
                  <a href="javascript:void(0)" class="loginbtn2 btndelete" (click)="openDelModal(template,item)"><i class="fa fa-close"></i><span>Delete</span></a>
                </td>
              </tr>
              <tr *ngIf="!(bloglist | blogfilter : searchText).length && !loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td></tr>
              <tr *ngIf="loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;"><img src="../../assets/images/loader.gif" style="width: 100px;"></td></tr>
              </tbody>
            </table>
            <pagination-controls  *ngIf="(bloglist | blogfilter : searchText).length" (pageChange)="p = $event" maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center modalcls">
    <p>Are you sure to delete this blog?</p>
    <div class="text-center">
      <button type="button" class="btnedit" (click)="confirm()" >Yes</button>
      <button type="button" class="btndelete" (click)="decline()" >No</button>
    </div>

  </div>
</ng-template>-->

<app-adminheader></app-adminheader>

<div class="container-fluid dashboard_body">
  <!--  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>-->
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <div class="n-adminheadercls">
            <h4>Event/Blog List</h4>
          <!--  <h4>BLog List</h4>-->
          </div>
          <div class="dashboardwrapper">
            <div class="tabletopbar newtabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <!--<li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchText7" [(ngModel)]="searchText7" class="form-control input-lg">
                            <option value="">Select One</option>
                            <option value="event">Event</option>
                            <option value="blog">Blog</option>
                          </select>
                        </div>
                      </div>
                    </li>-->
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <!--<input style="border-radius: 0;" placeholder="Search By Date" name="searchDate" autocomplete="off" class="form-control input-lg dtrange"
                                 [(ngModel)]="searchText3"
                                 [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>-->
                          <input style="border-radius: 0;" placeholder="Search By Date" name="searchDate" autocomplete="off" class="form-control input-lg dtrange"
                                 [(ngModel)]="searchText3"
                                 [selectMode]="'range'"
                                 [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                          <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchText2" [(ngModel)]="searchText2" class="form-control input-lg">
                            <option value="">Search By Status</option>
                            <option value="">All Status</option>
                            <option value="0">Inactive</option>
                            <option value="1">Active</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search by title" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <a (click)="openAddModal(addblog)" class="loginbtn2"><i class="fa fa-plus"></i> Add Event/Blog</a>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <div class="tabcontentwrapper">
              <div class="tablediv">
                <table>
                  <thead>
                  <tr>
                    <th class="empycell"></th>

                    <th class="clstitle">Title</th>
                    <th class="clsdescription">Description</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Display For</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th class="empycell"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of bloglist  | blogfilter : searchText | bannerfilter2: searchText2 | dateblogpipe : searchText3 | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td class="empycell"></td>

                    <td data-label="Title">{{item.title}}</td>
                    <td data-label="Description"><div  [innerHTML]="item.description | safehtml:300"></div></td>
                   <!-- <td data-label="Type">{{item.type.toUpperCase()}}</td>-->
                    <td data-label="Type">{{item.type}}</td>
                    <td data-label="Start Date">{{(item.startdate) | date :  "MM/dd/yyyy" }}</td>
                    <td data-label="End Date">{{(item.enddate) | date :  "MM/dd/yyyy" }}</td>
                    <td data-label="Display For">
                      <div class="newcheckboxdiv">
                        <div>
                          <input id="checkbox1" type="checkbox" name="checkbox" value="1" [checked]="item.musicians==1 || item.dancer==1 || item.model==1 || item.producer==1 ||  item.fan==1" (change)="allcheck(item,$event,'user')"><label>Users</label>
                          <div class="newcheckboxsubdiv">
                            <div><input id="subcheckbox1" type="checkbox" name="subcheckbox1" [checked]="item.musicians==1" (change)="checkval(item,$event,'musicians')"><label>Musician</label></div>
                            <div><input id="subcheckbox2" type="checkbox" name="subcheckbox2" [checked]="item.dancer==1" (change)="checkval(item,$event,'dancer')"><label>Dancers</label></div>
                            <div><input id="subcheckbox3" type="checkbox" name="subcheckbox3" [checked]="item.model==1" (change)="checkval(item,$event,'model')"><label>Model</label></div>
                            <div><input id="subcheckbox4" type="checkbox" name="subcheckbox4" [checked]="item.producer==1" (change)="checkval(item,$event,'producer')"><label>Producer</label></div>
                            <div><input id="subcheckbox5" type="checkbox" name="subcheckbox5" [checked]="item.fan==1" (change)="checkval(item,$event,'fan')" ><label>Fan</label></div>
                          </div>
                        </div>
                        <div><input id="checkbox6" type="checkbox" name="checkbox6" [checked]="item.signupaffiliate==1" (change)="checkval(item,$event,'signupaffiliate')"><label>Affiliates</label>  </div>
                        <div><input id="checkbox7" type="checkbox" name="checkbox7" [checked]="item.ambassadors==1" (change)="checkval(item,$event,'ambassadors')"><label>Ambassadors</label>  </div>
                      </div>

                      <!--{{item.parentname}}-->

                    </td>
                    <td data-label="Status">
                      <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>
                      <a *ngIf="item.status == 1" class="statusactive" href="javascript:void(0)" (click)="cngstatus(item)">Active</a>
                    </td>
                    <td data-label="Action" class="whitebtnlists">
                      <a class="loginbtn2 btnedit btnwhite" (click)="openEditModal(editblog,item._id)"><i class="fa fa-pencil-square-o"></i></a>
                      <a href="javascript:void(0)" class="loginbtn2 btndelete btnwhite" (click)="openDelModal(template,item)"><i class="fa fa-trash"></i></a>
                    </td>
                    <td class="empycell"></td>
                  </tr>
                  <tr *ngIf="!(bloglist | dateblogpipe : searchText3  | blogfilter : searchText).length && !loadinglist">
                    <td class="empycell"></td>
                    <td colspan="7" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td>
                    <td class="empycell"></td>
                  </tr>
                  <tr *ngIf="loadinglist">
                    <td class="empycell"></td>
                    <td colspan="7" style="text-align: center;"><div class="loadertabledata"></div></td>
                    <td class="empycell"></td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls  *ngIf="(bloglist | dateblogpipe : searchText3  | blogfilter : searchText).length" (pageChange)="p = $event" maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center modalcls">
    <p>Are you sure to delete this event/blog?</p>
    <div class="text-center">
      <button type="button" class="btnedit" (click)="confirm()" >Yes</button>
      <button type="button" class="btndelete" (click)="decline()" >No</button>
    </div>

  </div>
</ng-template>



<ng-template #editblog>
  <div class="modal-body text-center modalcls n-modalcls">
    <app-blogedit [id]="id"></app-blogedit>
  </div>
</ng-template>



<ng-template #addblog>
  <div class="modal-body text-center modalcls n-modalcls">
    <app-blogadd></app-blogadd>
  </div>
</ng-template>
<app-adminfooter></app-adminfooter>