<app-adminheader></app-adminheader>

<div class="container-fluid dashboard_body">
  <!--<div class="dashboard_wrappertop">
    <div class="dashboradtoplogo">
      <img src="../../assets/images/logo.png">
    </div>
  </div>-->
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right afiliatedashboard">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <div class="n-adminheadercls text-center">
            <h4>Upcoming Events</h4>
            <p>Keep yourself up to date on AudioDeadline/ArtistXP’s latest events and <br>features right here!</p>
          </div>

          <div class="dashboardwrapper">
            <div class="tabcontentwrapper">
              <div class="adminlisttable adminlisttabledashboard">

                <div class="row">
                  <div class="col-md-12">
                    <div class="tablediv affidashboardwhatsnew">
                      <div class="n-affidashboardwhatsnewheadercls text-center">
                        <h2>What’s New?</h2>
                      </div>
                      <ul>
                        <li>
                          <div class="row">
                            <div class="col-md-3">
                              <h1>Competitions Are Coming!</h1>
                              <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>03/1/19</span></p>
                            </div>
                            <div class="col-md-9">
                              <p>Are you ready to witness our first competition show live?! Artist are bringing their A-game to start preparing for this unique viewer experience. We go Live June 1st, 2019! Don’t forget to indulge yourself in to the artist community on ArtistXP.com and vote for your favorite artists that you would love to see go head on into this 8-hour collaboration right in front of your eyes!....<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                          </div>
                        </li>
                        <li>
                          <div class="row">
                            <div class="col-md-3">
                              <h1>New Feature Coming!</h1>
                              <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>02/28/19</span></p>
                            </div>
                            <div class="col-md-9">
                              <p>You gave feedback and we heard it! We are excited to be bringing a whole new spin on keeping up with your favorite artists. You will have the option to be notified if your favorite artist hits the charts on ArtistXP and reaches in the top 5....<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                          </div>
                        </li>

                        <!----for Affiliate/Ambassador---->
                        <!--
                      <li>
                        <div class="row">
                          <div class="col-md-3">
                            <h1>Competitions Are Coming!</h1>
                            <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>02/28/19</span></p>
                          </div>
                          <div class="col-md-9">
                            <p>Are you ready to be apart of our first competition show live?! Artist will need to bring their A-game to start preparing for this unique artist experience. We go Live June 1st, 2019! Don’t forget to indulge yourself in to the artist community on ArtistXP.com and show your fans all that you have to offer! Sign-up now....<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-3">
                            <h1>New Feature Coming!</h1>
                            <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>02/28/19</span></p>
                          </div>
                          <div class="col-md-9">
                            <p>You gave feedback and we heard it! We are excited to be bringing a whole new spin on how to manage your Trade Requests with your fellow artists.....<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                        </div>
                      </li>-->
                        <!----for Affiliate/Ambassador---->

                        <!----for user---->
                        <!-- <li>
                        <div class="row">
                          <div class="col-md-3">
                            <h1>Competitions Are Coming!</h1>
                            <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>03/1/19</span></p>
                          </div>
                          <div class="col-md-9">
                            <p>Are you ready to witness our first competition show live?! Artist are bringing their A-game to start preparing for this unique viewer experience. We go Live June 1st, 2019! Don’t forget to indulge yourself in to the artist community on ArtistXP.com and vote for your favorite artists that you would love to see go head on into this 8-hour collaboration right in front of your eyes!...<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-3">
                            <h1>New Feature Coming!</h1>
                            <p class="affidashboardwhatsnewpara"><span>Lorem Ipsum</span><span>02/28/19</span></p>
                          </div>
                          <div class="col-md-9">
                            <p>You gave feedback and we heard it! We are excited to be bringing a whole new spin on keeping up with your favorite artists. You will have the option to be notified if your favorite artist hits the charts on ArtistXP and reaches in the top 5..<span class="txtred"><a href="javascript">Read More</a></span></p></div>
                        </div>
                      </li>-->
                        <!----for user---->
                      </ul>
                      <!--<div class="text-center">
                        <a href="javascript:void(0)" target="_blank" class="btn adminbtnred">View All Blogs</a>
                      </div>-->

                    </div>
                  </div>
                </div>

              </div>
              <div class="tabcontentwrapperoverlay"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<app-adminfooter></app-adminfooter>