<app-header></app-header>

<div class="as_hostflii_titlebar">
  <h2>join the movement </h2>
</div>
<div class="as_hostflii_wrapper4 as_joinmovementwrapper1">
  <div class="as_hostflii_container">
    <div class="asupbgimgwrapper">
      <img src="../../assets/images/asjoinmovementbg1.jpg" class="bannerimage01">
      <div class="border_wrapper">
        <img src="../../assets/images/asjoinmovementbg01.png" class="bannerimage02">
        <p>Be part of the movement that unites musicians, music lovers, and anyone who appreciates artistry together to create new relationships centered around performing art. ArtistXP is a new social media website that invites recording artists, dancers, models, and fans to come together and connect with one another on a single platform. <a href="https://artistxp.com/signup" target="_blank"><span>ArtistXP.com</span></a> is the place to combine all your other social media accounts – including your music ones. Facebook, Instagram, Twitter, SoundCloud, YouTube, ReverbNation, and several others offer plugins that are now all accessible from one spot! This is an exciting tool for artists and fans to utilize to build new connections with each other and discover tons of new media.
        </p>
      </div>

    </div>

  </div>
</div>
<div class="as_joinmovementwrapper2">
  <div class="asjoinmovmentupbgwrapper">
    <img src="../../assets/images/asjoinmovementupbg1.png">
  </div>
  <div class="as_joinmovementsubwrapper">
    <div class="as_hostflii_container">


      <p>On the <span>ArtistXP</span> social network, we hold competitions based on popular vote, where fans decide who gets onto our live streamed quarterly show, the <span>AudioDeadline</span> Experience. Competitions run for 45 days, 4 times a year for a multitude of different recording artists, dancers, and models. Winners of the competitions get to live their dreams of being flown out to LA, with paid room and board, to be showcased in a real sound studio. Live during the show artists are collaborating to create an original song within an 8-hour time limit. Think you have what it takes to get on the Deadline? Make your
        Artist Profile and upload your media today!
        <b>
          <img src="../../assets/images/asjoinmovementuplogo.png">
        </b>
      </p>
    </div>
  </div>

</div>
<div class="as_joinmovementwrapper3">
  <div class="as_hostflii_container">
    <h2>Affiliates and Promoters!</h2>
    <p>Join hundreds of industry promoters, models and artists in our exclusive affiliate and ambassador programs. Check out our new show The AudioDeadline Streaming Show Experience! Finally, a show that lets you experience firsthand the intimate journey of a song’s creation from beginning to end</p>
    <p>Present something truly unique and worth the expense with your social and affiliate audiences! Share the memories of all the blood, sweat, and tears your favorite artists put into making the next big single. </p>
    <p>Your followers will be eager to purchase their streaming ticket! Need more incentive? We will show you the money! That’s right, you get paid for every purchase your follower makes. It’s that easy. They purchase, we pay you. If that isn’t enough for you, invite your influential friends to bring their followers aboard. You will receive payment for their followers' purchases as well as your own followers. The money-making possibilities are endless as you will be paid in perpetuity! </p>
  </div>
  <div class="asjoinmovmentupbgwrapper1">
    <img src="../../assets/images/asjoinmovementupbg2.png">
  </div>
</div>
<div class="as_joinmovementwrapper4">
  <div class="as_hostflii_container">
    <p>Be an advocate for the next biggest thing in music since
      Jay-Z and make great money doing it! Join our
      <span>All Rise Together (ART) movement</span> today!
    </p>
    <a class="newhomeblock2_textcon2_link" href="https://artistxp.com" target="_blank"> Join The Movement </a>
  </div>
</div>

<app-footer></app-footer>