<app-header></app-header>

<div class="as_hostflii_titlebar">
  <h2>Events</h2>
</div>


<div class="as_hostflii_wrapper4 kb_eventsblock1">
  <div class="as_hostflii_container">
    <div class="asupbgimgwrapper">
      <img src="../../assets/images/kbeventsblock1bg1.jpg" class="bannerimage01">
      <div class="border_wrapper">
        <img src="../../assets/images/kbeventsblock1bg01.jpg" class="bannerimage02">
        <h3>Getting involved with us is a genuine experience and we have our live streaming events and networking event opportunities that you can get involved in! Keep up to date on what’s coming up next right here!</h3>
      </div>

    </div>

  </div>
</div>

<div class="kb_eventsblock2">
  <div class="kb_eventsblock2wrapper">
    <img src="../../assets/images/kbeventsblock2imgtopleft.png" class="kbeventsblock2imgtopleft">
    <img src="../../assets/images/kbeventsblock2imgtopright.png" class="kbeventsblock2imgtopright">
    <div class="kb_eventsblock2content">

      <div class="fgfgfd">

        <ul><img src="../../assets/images/kbeventsblock2imgtopleftsml.png" class="kbeventsblock2imgtopleftsml">

          <h2>Timeline:</h2>

          <!--<li><span>Monday , September 3rd, 2018</span> - You can sign up to RSVP for when tickets go on sale for a discount and pre-register for the ArtistXP.com Social Experience.</li>
          <li><span>Friday, November 30th, 2018</span> – We will hold our first networking event in Los Angeles, CA to announce special guests and other features of the coming June live stream.</li>
          <li><span>Saturday, February 16th, 2019</span> – The Audio Deadline Streaming show announces their special guest and the tickets go on sale.</li>
          <li><span>Friday, April 5th, 2019</span> – The AristXP.com Social Network goes live. Artists can complete their profiles and fans can register to the network.</li>
          <li><span>Wednesday, May 1st, 2019</span> – Competitions are officially open for our first AudioDeadline.com competitions. (Entries must be in by the 15th)</li>
          <li><span>Monday, May 20th, 2019</span> – Competitions start for the first AudioDeadline.com Experience on the ArtistXP.com Social Network.</li>
          <li><span>Monday, July 1st, 2019</span> – Competitions will end.</li>
          <li><span>Friday, July 5th, 2019</span> – All winners of the Competition will be Announced, and interviews are set up. </li>
          <li><span>Monday, July 15th, 2019</span> – The AudioDeadline.com Experience Premier Live Streaming Event!</li>
          <li><span>Monday, July 22nd, 2019</span> – We will hold our second networking event in Los Angeles, CA to announce special guests and other features of the coming July live stream. Location to be announced.</li>

          <li><span>Tuesday, August 20th, 2019</span> – Competitions start for the second AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th)</li>
          <li><span>Tuesday , October 1st, 2019</span> – Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Monday, October 14th, 2019</span> – The AudioDeadline.com Experience second Live Streaming Event!</li>
          <li><span>Monday, October 21st, 2019</span> – We will hold our third networking event in Los Angeles, CA to announce special guests and other features of the coming October live stream. Location to be announced.</li>

          <li><span>Wednesday, November 20th, 2019</span> – Competitions start for the third AudioDeadline.com Experience on the ArtistXP.com Social Network.(Entries must be in by the 15th)</li>
          <li><span>Wednesday, January 1st, 2020</span> – Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Tuesday, January 14th, 2020</span> – The AudioDeadline.com Experience third Live Streaming Event!</li>
          <li><span>Tuesday, January 21st, 2020</span> – We will hold our fourth networking event in Los Angeles, CA to announce special guests and other features of the coming January live stream. Location to be announced.</li>

          <li><span>Thursday, February 20th, 2020</span> – Competitions start for the fourth AudioDeadline.com Experience on the ArtistXP.com Social Network.(Entries must be in by the 15th)</li>-->

          <li><span>Saturday, June 22nd, 2019 -</span> The AristXP.com Social Network goes live. Artists can complete their profiles and fans can register to the network.</li>

          <li><span>Monday, July 1st, 2019 -</span> Competitions are officially open for entry.</li>
          <li><span>Monday, July 15th, 2019 -</span> Enrollment is closed.</li>
          <!--add -->
          <li class="hide"><span>Monday, July 15th, 2019 -</span>  Enrollment is closed.</li>                <!--add2-->
          <li><span>Saturday, July 20th, 2019 -</span>  Competitions start for the first AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th)</li>
          <li><span>Sunday, September 1st, 2019 -</span> Competitions are over and all the winners are announced, and interviews are set up</li>
          <li><span>Saturday, September 14th, 2019 -</span>The AudioDeadline.com Experience Premier Live Streaming Event!</li>

          <li><span>Saturday, September 21st, 2019 –</span>   We will hold our second networking event in Los Angeles, CA to announce special guests and other features of the coming July live stream. Location to be announced.</li>
          <!--Monday, April 1st, 2019 –Competitions are officially open for our first AudioDeadline.com competitions.-->
          <li><span>Tuesday, October 1st, 2019 -</span> Competitions are officially open for entry.</li>

          <li><span>Tuesday, October 15th, 2019 -</span> Enrollment is closed.</li>
          <li><span>Sunday, October 20th, 2019 -</span> Competitions start for the second AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th)</li>
          <li><span>Sunday, December 1st, 2019 -</span>Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Saturday, December 14th, 2019 - </span>The AudioDeadline.com Experience second Live Streaming Event!</li>
          <li><span>Saturday, December 21st, 2019 -</span> We will hold our third networking event in Los Angeles, CA to announce special guests and other features of the coming October live stream. Location to be announced.</li>
          <li><span>Wednesday, January 1st, 2020 -</span> Competitions are officially open for entry</li>
          <li><span>Wednesday, January 15th, 2020 -</span> Enrollment is closed. </li>
          <li><span>Monday, January 20th, 2020 -</span> Competitions start for the third AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th)</li>
          <li><span>Sunday, March 1st, 2020 - </span>  Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Saturday, March 14th, 2020 -</span> The AudioDeadline.com Experience third Live Streaming Event!</li>





          <li><span>Saturday, March 21st, 2020 -</span> We will hold our fourth networking event in Los Angeles, CA to announce special guests and other features of the coming January live stream. Location to be announced.</li>
          <li><span>Wednesday, April 1st, 2020 -</span>  Competitions are officially open for entry</li>
          <li><span>Wednesday, April 15th, 2020</span>Enrollment is closed.  </li>
          <li><span>Monday, April 20th, 2020 - </span> Competitions start for the third AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th).</li>
          <li><span>Monday, June 1st, 2020 - </span> Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Saturday, June 13th, 2020 - </span>The AudioDeadline.com Experience fourth Live Streaming Event!</li>
          <li><span>Saturday, June 20th, 2020 -</span> We will hold our fifth networking event in Los Angeles, CA to announce special guests and other features of the coming January live stream. Location to be announced.</li>
          <li><span>Wednesday, July 1st, 2020 - </span> Competitions are officially open for entry.</li>
          <li><span>Wednesday, July 15th, 2020 -</span>  Enrollment is closed. </li>
          <li><span>Monday, July 20th, 2020 - </span> Competitions start for the fourth AudioDeadline.com Experience on the ArtistXP.com Social Network. (Entries must be in by the 15th)</li>
          <li><span>Tuesday, September 1st, 2020 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Saturday, September 12th, 2020 - </span> The AudioDeadline.com Experience fifth Live Streaming Event!</li>
          <li><span>Saturday, September 19th, 2020 -</span> We will hold our sixth networking event in Los Angeles, CA to announce special guests and other features of the coming April live stream. Location to be announced.</li>
          <img src="../../assets/images/kbeventsblock2imgtoprightsml.png" class="kbeventsblock2imgtoprightsml">

          <!--<li><span>Wednesday, April 1st, 2020</span> – Competitions are over and all the winners are announced, and interviews are set up.</li>

          <li><span>Tuesday, April 14th, 2020</span> – The AudioDeadline.com Experience fourth Live Streaming Event!</li>

          <li><span>Monday, June 21st, 2020</span> – We will hold our fifth networking event in Los Angeles, CA to announce special guests and other features of the coming April live stream. Location to be announced.</li>-->
          <!--<li><span>Saturday, August 1st, 2020 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
          <li><span>Saturday, August 8th, 2020 -</span> The AudioDeadline.com Experience fourth Live Streaming Event!</li>
          <li><span>Saturday, August 15th, 2020 -</span> We will hold our fifth networking event in Los Angeles, CA to announce special guests and other features of the coming April live stream. Location to be announced.</li>-->
          <img src="../../assets/images/kbeventsblock2imgtoprightsml.png" class="kbeventsblock2imgtoprightsmlxs">
        </ul>

      </div>
    </div>

  </div>
</div>



<app-footer></app-footer>
