<!--
<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <h4>Commission List</h4>
          <div class="tablediv">
            <div class="tabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchType" [(ngModel)]="searchType" class="form-control input-lg">
                            <option value="">Search By Account Type</option>
                            <option value="">All</option>
                            <option value="0">Affiliate</option>
                            <option value="1">Ambassador</option>
                          </select>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <table>
              <thead>
              <tr>
                <th>Affiliate Name</th>
                <th>Account Type</th>
                <th>No Of Sale</th>
                <th>Total Commission</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of  commisionlist | commission1 : searchText | commission2 : searchType | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.fullname}}</td>
                <td>{{(item.ambassador == 1)?'Ambassador':'Affiliate'}}</td>
                <td>{{item.noofsale}}</td>
                <td>${{item.totalcommission}}</td>
                <td><a href="javascript:void(0)" class="loginbtn2" style="padding: 6px 5px !important; font-size: 15px;" (click)="openViewModal(template,item)"><span>View Details</span></a></td>
              </tr>
              <tr *ngIf="!(commisionlist | commission1 : searchText | commission2 : searchType).length && !loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td></tr>
              <tr *ngIf="loadinglist"><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;"><img src="../../assets/images/loader.gif" style="width: 100px;"></td></tr>
              </tbody>
            </table>
            <pagination-controls  *ngIf="(commisionlist | commission1 : searchText | commission2 : searchType).length" (pageChange)="p = $event" maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center modalcls">
    <div class="tablediv">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Product Name</th>
          <th>Commission</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of commisiondetlist">
          <td>{{item.fullname}}</td>
          <td>{{item.productname}}</td>
          <td>{{item.commission}}</td>
          <td>${{item.amount}}</td>
          <td>{{(item.added_time*1000) | date :  "MM/dd/yyyy hh:mma" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>-->


<app-adminheader></app-adminheader>

<div class="container-fluid dashboard_body">
  <!--<div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>-->
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <div class="n-adminheadercls">
            <h4>Commission List</h4>
          </div>
          <div class="dashboardwrapper">

            <div class="tabletopbar newtabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg newtabletopbarsearchfield" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchType" [(ngModel)]="searchType" class="form-control input-lg">
                            <option value="">Search By Account Type</option>
                            <option value="">All</option>
                            <option value="0">Affiliate</option>
                            <option value="1">Ambassador</option>
                          </select>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <div class="tabcontentwrapper">
              <div class="adminlisttable adminlisttabledashboard">
                <div class="tablediv">
                  <table>
                    <thead>
                    <tr>
                      <th class="empycell"></th>
                      <th>Sign-Up Date</th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Account Type</th>
                      <th class="text-center"># Of Sale</th>
                      <th class="text-center">Total Commission</th>
                      <th class="text-center">Action</th>

                      <!--FOR Affiliate/Ambassador------>
                      <!-- <th>Name</th>
                       <th>Email</th>
                       <th>Phone</th>
                       <th>Enroller</th>
                       <th>Commision Tier</th>
                       <th>Order ID</th>
                       <th>Product</th>
                       <th>Quantity</th>
                       <th>Total*</th>-->
                      <!--------->

                      <th class="empycell"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of  commisionlist | commission1 : searchText | commission2 : searchType | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td class="empycell"></td>
                      <td data-label="Date">3/08/19 <!--{{(item.added_time*1000) | date :  "MM/dd/yyyy hh:mma" }}--></td>
                      <td data-label="First">{{item.firstname}}</td>
                      <td data-label="Last">{{item.lastname}}</td>
                      <td data-label="Account Type">{{(item.ambassador == 1)?'Ambassador':'Affiliate'}}</td>
                      <td data-label="# Of Sale" class="text-center">{{item.noofsale}}</td>
                      <td data-label="Total Commission" class="text-center">${{item.totalamount}}</td>
                      <td data-label="Action" class="whitebtnlists text-center"><a href="javascript:void(0)" class="loginbtn2 tooltip btnwhite" style="padding: 6px 5px !important; font-size: 15px;" (click)="openViewModal(template,item)"><i class="fa fa-eye"></i><span class="tooltiptext">View all Sales</span></a></td>

                      <!--FOR Affiliate/Ambassador------>
                      <!--<td data-label="Name">{{item.fullname}}</td>
                      <td data-label="Email">{{item.email}}</td>
                      <td data-label="Phone">{{item.telephone}}</td>
                      <td data-label="Enroller">{{item.affiliatename}}</td>
                      <td data-label="Commision Tier">1</td>
                      <td data-label="Order ID">{{item.OrderId}}</td>
                      <td data-label="Product">{{item.productname}}</td>
                      <td data-label="Quantity">12</td>
                      <td data-label="Total*">${{showtwoDecnum(item.total)}}</td>-->
                      <!--------->

                      <td class="empycell"></td>
                    </tr>
                    <tr *ngIf="!(commisionlist | commission1 : searchText | commission2 : searchType).length && !loadinglist">
                      <td class="empycell"></td>
                      <td colspan="7" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td>
                      <td class="empycell"></td>
                    </tr>
                    <tr *ngIf="loadinglist">
                      <td class="empycell"></td>
                      <td colspan="7" style="text-align: center;"><div class="loadertabledata"></div></td>
                      <td class="empycell"></td>
                    </tr>

                    <!--FOR Affiliate/Ambassador------>
                    <!--<tr *ngIf="!(commisionlist | commission1 : searchText | commission2 : searchType).length && !loadinglist">
                      <td class="empycell"></td>
                      <td colspan="9" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td>
                      <td class="empycell"></td>
                    </tr>
                    <tr *ngIf="loadinglist">
                      <td class="empycell"></td>
                      <td colspan="9" style="text-align: center;"><div class="loadertabledata"></div></td>
                      <td class="empycell"></td>
                    </tr>-->
                    <!--------->


                    </tbody>
                  </table>
                  <pagination-controls  *ngIf="(commisionlist | commission1 : searchText | commission2 : searchType).length" (pageChange)="p = $event" maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>
                </div>
              </div>
              <div class="tabcontentwrapperoverlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<app-adminfooter></app-adminfooter>


<ng-template #template>
  <div class="modal-body text-center modalcls n-modalcls">
    <div class="formnewpopupheader">
      <h4>{{fullname}}'s List</h4>
    </div>

    <div class="dashboard1form formnewpopup" *ngIf="commisiondetlist!=null && commisiondetlist.length>0">
      <div class="tablediv">
        <table>
          <thead>
          <tr>
            <th>Date</th>
            <th>Buyer</th>
           <!-- <th>Product</th>-->
            <th class="text-center">Amount</th>
            <th class="text-center">Commission</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of commisiondetlist">
            <!--<td data-label="Date">{{(item.added_time*1000) | date :  "MM/dd/yyyy" }}</td>-->
            <td data-label="Date">{{item.added_time}}</td>
            <td data-label="Buyer">{{item.firstname}} {{item.lastname}}</td>
            <!--<td data-label="Product">{{item.productname}}</td>-->
            <td data-label="Amount" class="text-center">${{item.amount}}</td>
            <td data-label="Commission" class="text-center">{{item.commission}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dashboard1form formnewpopup" *ngIf="commisiondetlist==null || commisiondetlist.length==0">
      <div class="tablediv">
        <table>
          <thead>
          <tr>
            <th>Date</th>
            <th>Buyer</th>
           <!-- <th>Product</th>-->
            <th class="text-center">Amount</th>
            <th class="text-center">Commission</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="empycell"></td>
            <td colspan="7" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td>
            <td class="empycell"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>