<app-adminheader></app-adminheader>



<div class="container-fluid dashboard_body"><!--
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>-->
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <div class="n-adminheadercls">
            <h4> Add Product</h4>
          </div>
          <div class="dashboardwrapper">
            <div class="tabcontentwrapper">
              <div class="adminlisttable adminlisttabledashboard">
                <div class="dashboard1form ma-formdivwrapper">

                  <form [formGroup]="createProductForm" (ngSubmit)="createProductFormSubmit()">

                    <div class="row">
                      <!-- Product name -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="control-label text-left"><label>Name*:</label></div>
                          <mat-form-field>
                              <input class="form-control" matInput placeholder="Product name" formControlName="name">
                          </mat-form-field>

                          <!-- name error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.name.touched && createProductFormValidate.name.errors" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.name.errors.required">Title field is required.</div>
                              <div *ngIf="createProductFormValidate.name.errors.maxlength">Title field cannot contain more than 100 characters!</div>
                          </div>
                        </div>
                      </div>
                      <!-- Product name end -->

                      <!-- Category -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="control-label text-left"><label>Category*:</label></div>
                          <mat-form-field>
                              <select matNativeControl formControlName="category">
                                  <option value="">Select parent category</option>
                                  <option *ngFor="let category of categoryList" value="{{ category._id }}">{{ category.title }}</option>
                              </select>
                          </mat-form-field>

                          <!-- Category error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.category.touched && createProductFormValidate.category.errors" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.category.errors.required">Title field is required.</div>
                          </div>
                        </div>
                      </div>
                      <!-- Category end -->
                    </div>

                    <div class="row">
                      <!-- featured image -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="control-label text-left"><label>Featured image*:</label></div>

                          <input type="file" (change)="onImageChange($event)" class="form-control" formControlName="featuredImage" accept="image/*" />

                          <!-- Price error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.featuredImage.touched && createProductFormValidate.featuredImage.errors && featuredImage.imageUrl == null" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.featuredImage.errors.required">Please select Featured Image.</div>
                          </div>

                          <!-- Progress bar -->
                          <mat-progress-bar *ngIf="featuredImage.progressBar > 0" mode="determinate" value="{{ featuredImage.progressBar }}"></mat-progress-bar>

                          <!-- view selected image -->
                          <div *ngIf="featuredImage.imageUrl != null">
                            <div class="row">
                                <div class="col-md-12 imgmddiv">
                                  <!--<image-cropper
                                          [imageBase64]="rawimage"
                                          [maintainAspectRatio]="true"
                                          [aspectRatio]="1.1"
                                          (imageCropped)="imageCropped($event)"
                                  ></image-cropper>-->
                                  <div class="imgmddivwrapper">
                                    <img src="{{ featuredImage.imageUrl }}" class="img-thumbnail" />
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- featured image end -->

                      <!-- others image -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="control-label text-left"><label>Others images*:</label></div>

                          <input *ngIf="othersImageDiv" type="file" formControlName="othersImage" (change)="onOthersChange($event)" class="form-control" accept="image/*" />

                          <!-- Price error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.othersImage.touched && createProductFormValidate.othersImage.errors" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.othersImage.errors.required">Please select others image.</div>
                          </div>

                          <!-- view selected image -->
                          <div *ngIf="othersImage != '' && othersImage.length > 0" class="imgmddiv2rowouter">
                            <div class="row imgmddiv2row">
                              <div *ngFor="let image of othersImage; let i = index" class="col-md-4 imgmddiv2"  >
                                <div class="imgmddiv2wrapperinner">
                                <div class="imgmddiv2inner">
                                  <img *ngIf="image.progressBar == 100" src="{{ image.imageUrl }}" class="img-thumbnail" alt="Uploading..." (click)="deleteOthersImage(i)" />
                                </div>

                                <div *ngIf="image.progressBar != 100" style="text-align: center;"><i class="fa fa-refresh fa-6x" aria-hidden="true"></i></div>
                                <mat-progress-bar mode="determinate" *ngIf="image.progressBar != 100" value="{{ image.progressBar }}"></mat-progress-bar>
                                <div class="deleteimg"><i class="material-icons">
                                  delete_forever
                                </i></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- others image end -->
                    </div>

                    <!-- Product description -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group descriptionbox">
                          <div class="control-label text-left"> <label>Description*:</label></div>

                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Product description" class="form-control" formControlName="description"></textarea>
                          </mat-form-field>

                          <!-- Product description error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.description.touched && createProductFormValidate.description.errors" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.description.errors.required">Description field is required.</div>
                              <div *ngIf="createProductFormValidate.description.errors.maxlength">Description field cannot contain more than 1000 characters!</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Product description end -->

                    <!-- Product price and attribuate -->
                    <div class="row">
                      <!-- Product price -->
                      <div class="col-md-3">
                        <div class="form-group">
                          <div class="control-label text-left"><label>Price*:</label></div>

                          <mat-form-field class="example-full-width">
                              <input type="number" matInput placeholder="Product price" class="form-control" formControlName="price">
                          </mat-form-field>

                          <!-- Price error message -->
                          <div style="color: red;" *ngIf="createProductFormValidate.price.touched && createProductFormValidate.price.errors" class="invalid-feedback">
                              <div *ngIf="createProductFormValidate.price.errors.required">Price field is required.</div>
                              <div *ngIf="createProductFormValidate.price.errors.max">Price value not more than 1 Billion!</div>
                          </div>
                        </div>
                      </div>
                      <!-- Product price -->

                      <!-- Attribute select dropdown -->
                      <div class="col-md-3">
                        <div class="form-group">
                          <div class="control-label text-left"> <label>Attribute*:</label></div>

                          <mat-form-field>
                              <select matNativeControl formControlName="attribute" (change)="changeAttribute()">
                                  <option value="">-- Select --</option>
                                  <option value="size">Size</option>
                                  <!-- <option value="color">Color</option> -->
                              </select>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- Attribute select dropdown -->

                      <ng-container *ngIf="showDiv">
                        <!-- Attribute select dropdown -->
                        <div class="col-md-3">
                          <div class="form-group">
                           <!-- <div class="control-label text-left"> <label>Value*:</label></div>-->

                            <div class="control-label text-left"><label>&nbsp;</label></div>
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder=" Value" formControlName="attributeValue">
                            </mat-form-field>
                          </div>
                        </div>
                        <!-- Attribute select dropdown -->

                        <!-- Attribute save button -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="control-label text-left"> <label>Option</label></div>

                                <button type="button" class="adminbtnred" mat-button (click)="addAttribute()">Save</button>
                            </div>
                        </div>
                        <!-- Attribute save button -->
                      </ng-container>
                    </div>
                    <!-- Attribute end -->

                    <!-- attributes added list -->
                    <div class="row" *ngIf="attributes != null && attributes.color.length > 0 || attributes.size.length > 0">
                      <div class="col-md-12">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Action</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let attribute of attributes.color; let i = index">
                                <td>Color</td>
                                <td>{{ attribute.value }}</td>
                                <td><button type="button" class="adminbtnred" mat-button (click)="deleteAttribute('color', i)">Delete</button></td>
                              </tr>

                              <tr *ngFor="let attribute of attributes.size; let i = index">
                                <td>Size</td>
                                <td>{{ attribute.value }}</td>
                                <td><button type="button" class="adminbtnred" mat-button (click)="deleteAttribute('size', i)">Delete</button></td>
                              </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- attributes added list end -->
                    <div class="row">
                      <div class="col-md-12">
                        <input type="submit" name="submit" value="SUBMIT" class="adminbtnred">
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


<!-- for image crom -->
<ng-template #cropImageTemplate>
  <div class="modal-body copetitionpreview">
    <a style="cursor: pointer;" (click)="closeModal()" class="closebtn">X</a>
    <div *ngIf="!imageCrop.base64data" style="text-align: center;"><img style="width: 200px;" src="imageCrop.modalLoader" ></div>
    <div *ngIf="imageCrop.base64data">
      <image-cropper
              [imageBase64]="imageCrop.base64data"
              [maintainAspectRatio]="true"
              [aspectRatio]="1.1"
              (imageCropped)="imageCropped($event)"
      ></image-cropper>
    </div>
    <div *ngIf="rawimage" class="copebtnwrapper text-center"><input type="button" value="save" (click)="crop1()" class="cropselectbtn"><input type="button" value="cancel" (click)="decline()" class="cropselectbtn cancelbtn"></div>
  </div>
</ng-template>