<app-header></app-header>

<div class="modalaudideadlinenew">
  <div class="asmodalcontainer">
    <div class="logodiv text-center">
      <img src="../../assets/images/img-footerbottom-logo.png" class="img-responsive">
    </div>
    <div class="headerfooterdiv">
      <h2>Return & Refund Policy</h2>
    </div>
    <div class="topcontent">
      <p>
        <span class="blue1">Thank you</span> for shopping at <a href="http://www.audiodeadline.com/" target="_blank">www.audiodeadline.com</a>.
        <br/><br/>Due to the nature of our service, we do NOT offer any returns or refunds.
        <br/><br/>Once you’ve purchased a digital ticket to our AudioDeadline show, you will get instant access to information pertaining to how and when to login the day of the AudioDeadline live event. After the event, you will be given access to unlimited streaming replay of the event for 1 month, starting from the day of the live event.
        <br/><br/>You will not be allowed to “multi-login” so we suggest you do NOT share with anyone your login information. If you feel that your login information has been compromised, please contact us immediately.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
