<app-header></app-header>

<div class="as_hostflii_titlebar">
  <h2>Our Host  Flii Stylz </h2>
</div>
<div class="as_hostflii_content">
  <div class="as_hostflii_container">
    <p>Our phenomenal President and host of our show, AudioDeadline, is here to drive the music revolution with you in the front seat. Flii is an immensely talented industry titan, performing artist, choreographer, and music executive who has worked in the music industry for many years gaining experience and building meaningful relationships.
    </p>
  </div>
</div>
<div class="as_hostflii_wrapper1">
  <div class="asupbgimgwrapper">
    <img src="../../assets/images/as_hostfliiupbg_1.jpg">
  </div>
  <div class="as_hostflii_container">
    <div class="asimagecontainer">
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="as_hostflii_imgwrapper">
          <img src="../../assets/images/as_hostfliibg_ca_1.jpg">
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="as_hostflii_imgwrapper">
          <img src="../../assets/images/as_hostfliibg_ca_2.jpg">
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="as_hostflii_imgwrapper">
          <img src="../../assets/images/as_hostfliibg_ca_3.jpg">
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6">
        <div class="as_hostflii_imgwrapper">
          <img src="../../assets/images/as_hostfliibg_ca_4.jpg">
        </div>
      </div>
    </div>
    <div class="astextcontainer">
      <p>
        <span>Flii</span> was only four years old when he began his career as a dancer in his hometown of Oakland, California.
        When he was 5, he entered his first dance competition against kids that were twice and three times his age and came in third place. Since then he has worked with musical legends like Michael Jackson, Chris
        Brown, Jennifer Lopez, User, and so many more! Flii has won multiple awards that include
        MTV Award Winner for Best Choreography and the American Choreography Award for
        Outstanding Achievement in Choreography in Music Video. He didn’t stop there, he has
        also joined many stars on their international tours and has even
        worked on movie sets and commercials.
      </p>
    </div>
  </div>
</div>
<div class="as_hostflii_wrapper2">
  <div class="as_hostflii_container">
    <div class="astaitlebar">
      <img src="../../assets/images/as_hostfliiupborder_1.png">
      <h2>NETWORK APPEARANCES</h2>
      <img src="../../assets/images/as_hostfliiupborder_1.png">
    </div>
    <div class="aslogoswrapper">
      <div class="col">
        <img src="../../assets/images/img-client1.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client2.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client3.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo1.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo2.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client9.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo4.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo3.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client6.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client13.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client11.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo5.png">
      </div>
      <div class="col">
        <img src="../../assets/images/img-client8.png">
      </div>
    </div>
  </div>
</div>
<div class="as_hostflii_wrapper3">
  <div class="as_hostflii_container">

    <div class="astextcontainer">
      <p><span>Flii’s</span> choreography and dance management can be discovered in over 300 well-known and successful music videos. He has been a massive contributor to over 100 live performance sets. These include major mainstream artists such as Chris Brown, Usher, David Guetta, Nicki Minaj, Tyrese, Gloria Estefan, J Lo, Rick Ross, Ludacris, Kendrick Lamar, the list goes on and on. </p>
      <p>As a performing artist, Flii has produced collaborations with Will.I.Am and the multi-platinum super-group, The Black Eyed Peas, soul singer Martin Luther, Grammy-nominated rapper  Planet Asia and others. He performed live as a rap artist on the MTV Music Video Awards. He appeared as a major actor and lyrical voice of the Krump movement in
        David LaChapelle’s breakthrough documentary, “<span>Rize</span>”. </p>
    </div>
    <div class="asupbgimgwrapper">
      <img _ngcontent-c1="" src="../../assets/images/as_hostfliiupbg_2.png">
    </div>
  </div>
</div>
<div class="as_hostflii_wrapper4 newas_hostflii_wrapper4">
  <div class="as_hostflii_container">
    <div class="asupbgimgwrapper">
      <img src="../../assets/images/as_hostfliiupbg_3.jpg">
      <div class="border_wrapper">

        <div class="astextcontainer">
          <p><span>Flii</span> also has major exposure in many films, related to music and choreography. He co-wrote and starred in Usher’s “Rhythm City Vol.1: Caught Up”, contributed as an artist in Stomp The Yard, Scary Movie, and several more. He appeared many times on major television networks including Turner Digital, The CW, BET, HBO, Showtime and has been a special guest on Oprah, Jay Leno, and more.
            He also made special guest appearances on many TV shows including CSI and The Shield. What can’t this man do?
            To see his full career resume,visit <a href="https://www.fliistylz.com/discography/" target="_blank"> https://www.fliistylz.com/discography/ </a></p>
        </div>
      </div>
    </div>
    <!--<div class="astextcontainer">
      <p><span>Flii</span> also has major exposure in many films, related to music and choreography. He co-wrote and starred in Usher’s “Rhythm City Vol.1: Caught Up”, contributed as an artist in Stomp The Yard, Scary Movie, and several more. He appeared many timeson major television networks including Turner Digital, The CW, BET, HBO, Showtime and has been a special guest on Oprah, Jay Leno, and more.
        He also made special guest appearances on many TV shows including CSI and The Shield. What can’t this man do?
        To see his full career resume,visit <a href="https://www.fliistylz.com/discography/" target="_blank"> https://www.fliistylz.com/discography/ </a></p>
    </div>-->
  </div>
</div>

<div class="as_hostflii_wrapper5">
  <div class="as_hostflii_container">
    <div class="astaitlebar">
      <img src="../../assets/images/as_hostfliiupborder_1.png">
      <h2>NETWORK APPEARANCES</h2>
      <img src="../../assets/images/as_hostfliiupborder_1.png">
    </div>
    <div class="aslogoswrapper">
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo6.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo7.png">
      </div>
      <div class="col">
        <img src="../../assets/images/as_hostflii_logo8.png">
      </div>
    </div>
  </div>
</div>

<div class="as_hostflii_wrapper6">
  <div class="as_hostflii_container">
    <div class="col-lg-5 col-sm-5">
      <div class="as_hostflii_imgwrapper">
        <img src="../../assets/images/as_hostfliibg_ca_5.png">
      </div>
    </div>
    <div class="col-lg-7 col-sm-7">
      <div class="astextcontainer">
        <p><span>We</span> are so thrilled to have Flii host the show and be part of the AudioDeadline family. Join him as he brings us all together on
          the Flii Couch - a great place for people from around the world
          to appear on the AudioDeadline show and  talk about all things music. With his expertise and extensive knowledge of the entertainment industry, he’s sure to keep the recording artists,
          special guests, and fans excited and vibin’ together with ease.</p>
        <p>
          Model and dancer winners from the ArtistXP competitions will
          be flown out to meet Flii, be treated like a star, and come onto
          the show as co-hosts! This is an exciting opportunity to get
          uprising stars in front of millions of fans! Be part of our All Rise Together (ART) revolution today!

        </p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>