<app-header></app-header>

<div class="as_hostflii_titlebar kb_hostflii_titlebar">
    <h4>The AudioDeadline</h4>
    <h2>Competition </h2>
</div>


<div class="kb_competition_block1">
    <div class="row col-container">
        <div class="col col-md-12 kb_competition_block1_leftimg">
            <!--<img src="../../assets/images/kbcompetitionblock1leftimg.jpg">-->
            <div class="kb_competition_block1_container">
                <p><span>Fulfill</span> your dreams of becoming a musician by entering our quarterly competitions! They will run for 45 days, 4 times a year - so you have more chances to get onto The <span>AudioDeadline</span> Experience where you will have only eight hours to create an original song with other contest winners. Join our social media network, <a href="https://artistxp.com/signup" target="_blank"><span>ArtistXP.com</span></a>, to make your profile and start uploading your media. Next, head over to the competition page and enter the one you would like to participate in so that users can immediately start voting for you. Users can vote up to five times a day.</p>
            </div>
        </div>

    </div>
</div>



<div class="kb_competition_block2">
    <div class="kb_competition_block2_wrapper">
        <div class="row">
            <div class="col-md-12 plr0">
                <div class="kb_competition_block2_container">
                    <p>We offer several competitions that will change every quarter.<br> The different competitions are <span>DJ, Guitarist, Drummer, Singer/Vocalist, Backup singer,<br> Producer, Dancer, and Model</span>. With The AudioDeadline Experience debut,<br> the first competitions will be for vocalist, rapper, producer, dancer (2 winners), and models.</p>
                    <h2>Competitions start on <span>July 1st, 2019.</span></h2>
                </div>
                <div class="kb_competition_block2_lists">
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img1.jpg">
                    </div>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img2.jpg">
                    </div>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img3.jpg">
                    </div>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img4.jpg">
                    </div>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img5.jpg">
                    </div>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock2img6.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="kb_competition_block3">
    <div class="row col-container">
        <div class="col col-md-12 kb_competition_block3_leftimg">

            <div class="kb_competition_block3_container">
                <div class="kb_competition_block3_container_inner">
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock3img1.jpg">
                    </div>
                    <p>If you’re the <span class="txtyellow">lucky winner</span>, you are immediately treated like a star! You are flown out to LA with paid room and board. From here you receive an exclusive interview and dinner with the AudioDeadline Executive team and our President and host, the amazing <span>Flii Stylz</span>, who is an industry titan and has worked with various music legends from <span>Michael Jackson</span> to <span>Jennifer Lopez</span>. The excitement doesn’t end there, you will be working in a real live sound studio in front of multiple cameras, getting that industry exposure you’ve been waiting for. Think you have what it takes to get onto the Deadline? Begin your journey at <a href="https://artistxp.com/signup" target="_blank"><span>ArtistXP.com</span></a> today! </p>
                    <div class="kbupbgimgwrapper">
                        <img src="../../assets/images/kbcompetitionblock3img2.jpg">
                    </div>
                </div>
            </div>
            <img src="../../assets/images/kbcompetitionblock3leftimg.png" class="kbcompetitionblock3leftimg">
        </div>
    </div>
</div>
<div class="kb_competition_block4">
    <div class="row col-container">
        <div class="col col-md-12 kb_competition_block4_leftimg">
            <div class="kb_competition_block4_container">
                <!--<img src="../../assets/images/kbcompetitionblock4img1.jpg" class="kbcompetitionblock4img1leftsml">-->
                <div class="kb_competition_block4_container_inner">
                    <h2>July AUDIODEADLINE COMPETITIONS</h2>
                    <h5>COMPETITIONS SIGN UP DATES</h5>
                    <p><span>Vocalist Competition </span>– Submission Entry Starts July 1st 2019 and runs through July 15th 2019<br>
                        <span>Rapper Competitions </span>- Submission Entry Starts July 1st 2019 and runs through July 15th 2019<br>
                        <span>Producer Competitions </span>- Submission Entry Starts July 1st 2019 and runs through July 15th 2019<br>
                        <span>Dancer Competitions (2 Winners) </span>- Submission Entry Starts July 1st 2019 and runs through July 15th 2019</p>
                    <h3>All Competitions will Officially start July 20th, 2019 and end on September 1st, 2019</h3>
                    <h4>WE LOOK FORWARD TO HAVING YOU JOIN THE ARTISTXP AND AUDIODEADLINE FAMILY.<br> <span>JOIN US AS WE ALL RISE TOGETHER (ART)!</span></h4>

                    <a class="kb_competition_block4_link" href="https://artistxp.com" target="_blank"> PREREGISTER YOUR PROFILE </a>
                </div>
                <!--<img src="../../assets/images/kbcompetitionblock4img2.jpg" class="kbcompetitionblock4img2rightsml">-->
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>