<app-header></app-header>

<div class="container-fluid eventnew">
  <div class="container-fluid multi_bg_example_eventnew">
    <div class="row">
      <div class="container landingwrapper_eventnew">
        <div class="img1wrapper_eventnew">
          <img src="../../assets/images/girlimg-eventnew.png">
        </div>
        <div class="txt1wrapper_eventnew">
          <div class="txtdiv1">
            <img src="../../assets/images/txtdiv1-eventnew.png" class="txtdiv1img">

            <h2 data-text="SPONSORING SHATTER BLOK 2019 LAUNCH">SPONSORING SHATTER BLOK 2019 LAUNCH</h2>
            <img src="../../assets/images/logo-shatterbloknew.png" class="logoshatterbloknew">
            <h3>Models and Musicians come find out what <br><span class="yellowtext">SHATTER BLOK</span> has that no one in the industry can offer you.</h3>
            <p>Shatter Blok is the parent company of a boutique of experienced and productive companies that assist<br> and improve the entertainment industry and impulse products. Shatter Proof Marketing,<br> Shatter Proof Models, Shatter Proof Music Group & the newly Shatter Proof Media. <br><br><span class="yellowtext">Founded and created in 1999,</span> Shatter Blok is a Los Angeles, California based company has done Marketing,<br> Promotions, Model Management, staffing and musical digital distribution for some of the most amazing up and<br> coming new faces in modeling, some of the hottest clubs, radio stations, record labels, clothing, foot wear lines, and<br> beverage companies in and around Los Angeles, Hollywood, California Bay areas, Las Vegas, Arizona and Florida.<br><br>Shatter Blok can further promote, acquire, manage and develop impulse products<br> commercial modeling talent, musical artistry, producers and writers.</p>
            <!-- <p>
               <span class="yellowtext">You must join us!  RSVP now to get location details and stay updated as the event gets closer!</span>
             </p>-->
          </div>
          <!-- <img src="../../assets/images/eventnewimgmain.png" class="eventnewimgmain">
           <img src="../../assets/images/eventnewimg1.png" class="eventnewimg1">-->
          <div class="sponsoredby">
            <div class="leftsponsoredby">
              <h2>SPONSORED BY</h2>
              <h2>AUDIODEADLINE</h2>
            </div>
            <div class="rightsponsoredby">
              <div class="audiodeadlinespons1">
                <img src="../../assets/images/audiodeadline_spons1.png" class="audiodeadline_spons1">
              </div>
            </div>
          </div>
          <div class="txtdiv2">
            <div class="txtdivleft"></div>
            <div class="txtdiv2topleft"></div>
            <div class="txtdiv2top"></div>
            <div class="txtdiv2right"></div>
            <img src="../../assets/images/txtdiv2-eventnew.png" class="txtdi21img">
            <div class="innertxtdiv2">
              <div class="row">
                <div class="col-lg-6 innertxtdiv2left">
                  <p>We are building an incredible massive online community of musicians, fans and excitement named www.ArtistXP.com launching November 17th, 2018 around our ground breaking and inspiring new online streaming show, Audio Deadline. Our content is like nothing ever experience before.<br> Stick around and you will see for yourself.<br><br>On the Audio Deadline Experience online steaming show we have excitement, artist collaboration and a chance for fans to be present in the moments while creating new song. Contest winning Indie Artists from our ArtistXP social network are in the heat of the moment of their creativity all for a streaming viewer audience. During the stream special industry guests, audience collaboration and extras keep it fresh by our celebrity host Flii Style. All while fans are watching and having a great time a new song is born.</p>
                </div>
                <div class="col-lg-6 innertxtdiv2right">
                  <p><span class="yellowtext fullwidthtxt">WHILE AUDIO DEADLINE IS STREAMING LIVE, THE ARTISTS ARE<br> CREATING THEIR MUSIC AND FANS ARE<br> VIRTUALLY RIGHT THERE IN THE STUDIO WITH THEM..</span></p>
                  <p>The AudioDeadline.com Experience is a live streamed show<br> available online and worldwide packed with excitement and a<br> viewer experience you can get nowhere else. If you are a<br> musician, producer, video dancer, or professional model there are<br> competitions running for all of you to participate!</p>
                  <p>
                    <span class="greentext fullwidthtxt">COME TO OUR NETWORKING EVENT TO CELEBRATE THE<br> LAUNCH OF OUR PLATFORM AND GET TO KNOW US!</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="txtdiv2bottomleft"></div>
            <div class="txtdiv2bottom"></div>
          </div>
          <img src="../../assets/images/eventnewimg2.png" class="eventnewimg2">
          <div class="wipicwrapper">
            <div class="title">
              <img src="../../assets/images/eventstitle.png" alt="eventtitle">
            </div>
            <div class="itemswrapper">
              <div class="carousel slide" id="mypicitemCarousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="picitem">
                      <div class="borderwrapper">
                        <div class="imgwrapper">
                          <img src="../../assets/images/venueimg1.jpg" alt="venueimg1">
                        </div>
                      </div>
                    </div>
                    <div class="picitem">
                      <div class="borderwrapper">
                        <div class="imgwrapper">
                          <img src="../../assets/images/venueimg2.jpg" alt="venueimg1">
                        </div>
                      </div>
                    </div>
                    <div class="picitem">
                      <div class="borderwrapper">
                        <div class="imgwrapper">
                          <img src="../../assets/images/venueimg3.jpg" alt="venueimg1">
                        </div>
                      </div>
                    </div>
                    <div class="picitem">
                      <div class="borderwrapper">
                        <div class="imgwrapper">
                          <img src="../../assets/images/venueimg4.jpg" alt="venueimg1">
                        </div>
                      </div>
                    </div>
                    <div class="picitem">
                      <div class="borderwrapper">
                        <div class="imgwrapper">
                          <img src="../../assets/images/venueimg5.jpg" alt="venueimg1">
                        </div>
                      </div>
                    </div>
                  </div><!-- /Slide1 -->
                </div>

                <div class="arrows">
                  <div class="leftarrow">
                    <a data-slide="prev" href="#mypicitemCarousel" class=""> <p class="arrowicon"><img src="../../assets/images/venueleftarrow.png" alt="#"></p></a>
                  </div>
                  <div class="rightarrow">
                    <a data-slide="next" href="#mypicitemCarousel" class=""><p class="arrowicon"><img src="../../assets/images/venuerightarrow.png" alt="#"></p></a>
                  </div>
                </div>
                <!-- /.control-box -->

              </div><!-- /#myCarousel -->


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
