<app-header></app-header>

<div class="as_hostflii_titlebar kb_hostflii_titlebar">
  <h4>The AudioDeadline</h4>
  <h2> Streaming Show Experience</h2>
</div>

<div class="as_hostflii_wrapper4 as_joinmovementwrapper1 kb_joinmovementwrapper1">
  <div class="as_hostflii_container">
    <p>Have you ever wondered what your favorite artists went through when recording the song that you absolutely love?</p>
  </div>
</div>


<!--<div class="as_joinmovementwrapper2 kb_thedeadlinewrapper2">
  <div class="asjoinmovmentupbgwrapper">
    <img src="../../assets/images/kbdeadlineupbg1.png">
  </div>
  <div class="as_joinmovementsubwrapper">
    <div class="as_hostflii_container">
      <p><span>AudioDeadline</span> is a live-streamed show Experience that gives artists only EIGHT hours to collaborate and come up with a completely original song. We have streaming cameras in the sound studio to capture those intense creative moments. As AudioDeadline streams, our incredible host, Flii Stylz, will be entertaining everyone with special guest appearances, announcements of prize winners, and interactions with fans on our live showcase page and over Twitter. You have exclusive chances to win tickets to big festivals, concerts, and more while the artists are hard at work. Will they be able to team up together to meet the Deadline? Let’s see if they have what it takes!
      </p>
    </div>
  </div>

</div>-->



<div class="as_hostflii_wrapper4 kb_thedeadline_wrapper4">
  <div class="as_hostflii_container">
    <div class="asupbgimgwrapper">
      <img src="../../assets/images/kb_thedeadlinebg_4.jpg">
      <div class="border_wrapper">
        <div class="astextcontainer">
          <p>
            AudioDeadline is a live-streamed show Experience that gives artists only <span>EIGHT hours</span> to collaborate and come up with a completely original song. We have streaming cameras in the sound studio to capture those intense creative moments. As AudioDeadline streams, our incredible host, <span>Flii Stylz</span>, will be entertaining everyone with special guest appearances, announcements of prize winners, and interactions with fans on our live showcase page and over Twitter. You have exclusive chances to win tickets to big festivals, concerts, and more while the artists are hard at work. Will they be able to team up together to meet the Deadline? Let’s see if they have what it takes!
          </p>
          <!--<p><span>Achieve</span> your dreams with us. If you’re an aspiring artist that’s ready to show the world your talent, enter one of our quarterly competitions! If you win the majority vote, your hard work is paid off! You are flown out to LA to be treated like a star that includes an exclusive interview and dinner with the amazing <span>Flii Stylz</span> and <span>AudioDeadline</span> executive team. Flii is an industry titan that has worked with dozens of music legends from Michael Jackson to Usher. This show isn’t restricted to recording artists; dancers and models will also be able to compete to come on as co-hosts with Flii. This is the big break you’ve been waiting for!</p>-->
        </div>
      </div>
    </div>

  </div>
</div>

<div class="as_hostflii_wrapper5 kb_thedeadline_wrapper5">
  <div class="asimagewrapper">
    <img src="../../assets/images/asthedeadlineexperienceupbg.png">
  </div>
  <div class="as_hostflii_container">
    <div class="ticket_sale_block2_textwrapper">
      <div class="newhomeblock1_devider"></div>
        <h2>Achieve Your Dreams with <br> this one-of-a-kind Experience </h2>
      <div class="newhomeblock1_devider"></div>
    </div>
    <div class="astextcontainer">
      <p>If you’re an aspiring artist that’s ready to show the world your talent, enter one of our quarterly competitions! If you win the majority vote, your hard work is paid off! You are flown out to LA to be treated like a star that includes an exclusive interview and dinner with the amazing <span>Flii Stylz </span> and <span>AudioDeadline</span> executive team. Flii is an industry titan that has worked with dozens of music legends from <span>Michael Jackson </span> to <span>Usher</span>. This show isn’t restricted to recording artists; dancers and models will also be able to compete to come on as co-hosts with Flii. This is the big break you’ve been waiting for!</p>
      <p>Let us bring you to a real sound studio where there will be other competitors you will collaborate with to start your song-making process. Finally, your dreams of becoming a musician are coming true! You are in front of cameras, working hard on your music, and receiving that industry exposure you’ve been dying to get. Let’s hear what you’ve got! Join our social media website, <span>ArtistXP.com</span>, and build your profile and upload your media today!</p>
    </div>
  </div>
</div>


<app-footer></app-footer>