<app-header></app-header>

<div class="as_hostflii_titlebar">
  <h2>Meet the Team </h2>
</div>

<div class="container-fluid newourstory_block1">
  <div class="newourstory_block1_wrapper">
    <h2>Fueled by music, creativity and imagination.</h2>
    <h3>We are working hard towards the common goal to see the world filled with individuality and imagination; to keep music and art flowing for our
      generation, and future generations to come.  </h3>
  </div>
</div>

<div class="container-fluid newourstory_block2">
  <div class="newourstory_block2_wrapper">

    <div class="newourstory_block2_subdiv">
      <h2>Beto Paredes</h2>

      <h3>CEO/Co-Producer of AudioDeadline</h3>

      <div class="newourstory_block2_imgdiv">

        <img src="../../assets/images/new_ourstory_img1.png" alt="#" >
      </div>

      <div class="newourstory_block2_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>


      <div class="newourstory_block2_textdiv">
        CEO of the AudioDeadline.com Experience and the Social Network ArtistXP.com is the creator of technology, branding and platform that drives the Experience. His companies have built over 2,000 projects online, he is a well-known speaker in the tech industry and has developed very successful projects for 7 of the Inc 500. He specializes in massive online platforms in marketing, national sales management and social networking. He is one of the original founders and co-created the AudioDeadline.com Experience

      </div>

      <a href="http://www.betoparedes.com/bio.php" class="newourstory_block2_link" target="_blank">Learn More About Beto Here</a>



    </div>

    <div class="newourstory_block2_subdiv">
      <h2>Flii Stylz</h2>

      <h3>President of AudioDeadline</h3>

      <div class="newourstory_block2_imgdiv">

        <img src="../../assets/images/new_ourstory_img2.png" alt="#" >
      </div>

      <div class="newourstory_block2_logodiv logodivimg2">

        <img src="../../assets/images/logo.png" alt="#"  >

      </div>


      <div class="newourstory_block2_textdiv">
        Our award-winning celebrity host and president of the company will interact with fans on our twitter feed, have special guests and switch between the live studio experience and the “Flii Couch” during this live streaming broadcast. With a VMA, several other industry awards and appearances on networks like cinemax, BET, Showtime, CBS and many more we are very honored
        to have him as our host.
        Please visit his page on our
        site to learn more.

      </div>

      <a href="https://www.fliistylz.com/about-flii-stylz/" class="newourstory_block2_link" target="_blank">Learn More About Flii Here</a>



    </div>



    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block2">
  <div class="newourstory_block2_wrapper">

    <div class="newourstory_block2_subdiv">
      <h2>Sherrie Kirkwood</h2>

      <h3>Chief Marketing Officer/Co-Producer<!--Chief Marketing Officer --></h3>

      <div class="newourstory_block2_imgdiv">

        <img src="../../assets/images/new_ourstory_img3.png" alt="#" >
      </div>

      <div class="newourstory_block2_logodiv">
        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>

      <div class="newourstory_block2_textdiv2">
        Sherrie Kirkwood, Chief Marketing Officer, Graduated from Full Sail University with an Entertainment Business Bachelor of Science Business Administration & Media degree. She has extensive experience in Business, Brand, Social Media and Marketing Development which also includes 15+ yrs experience in multiple facets of the Entertainment Industry.
      </div>

    </div>

    <div class="newourstory_block2_subdiv">
      <h2>lannah paredes</h2>

      <h3>chief financial officer</h3>

      <div class="newourstory_block2_imgdiv">

        <img src="../../assets/images/new_ourstory_img4.png" alt="#" >
      </div>

      <div class="newourstory_block2_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>


      <div class="newourstory_block2_textdiv2">
        Lannah Paredes graduated from the University of California, Riverside with her Bachelor degree in Business Administration and a minor in Psychology. Her expertise lies in curating relationships that brings financial value to companies she works for.
       <!-- There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words
        which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
        need to be sure there isn't anything embarrassing hidden in the
        middle of text. All the Lorem
        Ipsum generators-->


      </div>





    </div>



    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block3">
  <div class="newourstory_block3_wrapper">

    <div class="newourstory_block3_subdiv">
      <h2>Vanessa Wislodoski</h2>

      <h3>VP of Business Development </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img5.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>

    <div class="newourstory_block3_subdiv">
      <h2>Brance Wages</h2>

      <h3>VP of Communication</h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img6.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>

    <div class="newourstory_block3_subdiv">
      <h2>Natysha Hernandez </h2>

      <h3>Administrative Director </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img7.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>





    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block3">
  <div class="newourstory_block3_wrapper">

    <div class="newourstory_block3_subdiv">
      <h2>Angelica Winkler</h2>

      <h3>Chief Technical Director </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img8.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>

    <div class="newourstory_block3_subdiv">
      <h2><!--Alannah Koenig-->Linda Hernandez
      </h2>

      <h3>Executive Assistant </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img9_up.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>



    </div>

    <div class="newourstory_block3_subdiv">
      <h2>Jessica Doty</h2>

      <h3>Executive Assistant </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img10.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>





    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block3">
  <div class="newourstory_block3_wrapper">

    <div class="newourstory_block3_subdiv">
      <h2>Alfa Blvck</h2>

      <h3>Social Ambassador  </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img11.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>

    <!--<div class="newourstory_block3_subdiv">
      <h2>wesheyi choir</h2>

      <h3>vp of  Ambassador relations </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img12.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>-->

    <div class="newourstory_block3_subdiv">
      <h2>Shatto Brown</h2>

      <h3>Partner </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img13.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>


    <div class="newourstory_block3_subdiv">
      <h2>zane lawrence</h2>

      <h3>partner</h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img14.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>


    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block3">
  <div class="newourstory_block3_wrapper">

    <!-- <div class="newourstory_block3_subdiv">
       <h2>zane lawrence</h2>

       <h3>partner</h3>

       <div class="newourstory_block3_imgdiv">

         <img src="../../assets/images/new_ourstory_img14.png" alt="#" >
       </div>

       <div class="newourstory_block3_logodiv">

         <img src="../../assets/images/logo.png" alt="#" >
         <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
       </div>








     </div>-->

    <div class="newourstory_block3_subdiv">
      <h2>Rick Hewitt</h2>

      <h3>Investing Board Member   </h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img15.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>

    <div class="newourstory_block3_subdiv">
      <h2>Jameson Hewitt</h2>

      <h3>Investing Board Member</h3>

      <div class="newourstory_block3_imgdiv">

        <img src="../../assets/images/new_ourstory_img16.png" alt="#" >
      </div>

      <div class="newourstory_block3_logodiv">

        <img src="../../assets/images/logo.png" alt="#" >
        <img src="../../assets/images/affiliaterlogo-audiodeadline.png" alt="#" >
      </div>








    </div>





    <div class="clearfix"></div>

  </div>
</div>

<div class="container-fluid newourstory_block4">
  <div class="newourstory_block4_wrapper">
    We have a dedicated team of ambassadors, affiliates, film crews, publicists, employees and other industry folks that make up over 20 of us that are currently engaged in the AudioDeadline.com Experience.
    These numbers grow daily, and advocates of our platform are catching on to what we are bringing to the industry. If you are interested in working more directly with us, please feel free to contact us via our contact page.
    <a [routerLink]="['/contactus/']" class="newourstory_block4_link">Contact us</a>

  </div>

</div>

<app-footer></app-footer>