<app-adminheader></app-adminheader>

<div class="container-fluid dashboard_body">
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right afiliatedashboard">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <div class="n-adminheadercls text-center">
            <h4>affiliate tree</h4>
          </div>

          <div class="dashboardwrapper">

           <!-- <div class="tabletopbar newtabletopbar newtabletopbarfilter">
              &lt;!&ndash;<div class="pull-right">
                <form id="filter">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg newtabletopbarsearchfield" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input style="border-radius: 0;" placeholder="Search By DateRange" name="searchDate" autocomplete="off" class="form-control input-lg dtrange"
                                 [(ngModel)]="searchText5"
                                 [selectMode]="'range'"
                                 [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                          <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>&ndash;&gt;
            </div>
-->

            <div class="tabcontentwrapper">
              <div class="adminlisttable adminlisttabledashboard">

                <div class="tablediv affiliatetree">
                  <!--collapse all button-->
                  <!--<div class="tabledivtop">
                    <a class="adminbtnred">Expand All</a>
                    <a class="adminbtnred">Collapse All</a>
                  </div>-->
                 <!-- <table>
                    <thead>
                    <tr>
                      <th class="empycell"></th>
                      <th>Date Added</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th class="text-center"># of Signups</th>
                      <th class="text-center">Status</th>
                      <th class="empycell"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="empycell"></td>
                      <td data-label="Date">04/13/2019</td>
                      <td data-label="Name">Suzy Que</td>
                      <td data-label="email">SuzyQ4433@gmail.com</td>
                      <td data-label="# of Signups" class="text-center">3</td>
                      <td data-label="Status" class="text-center">
                        &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                        <a class="statusactive" href="javascript:void(0)">Active</a>
                      </td>

                      <td class="empycell"></td>

                    </tr>
                    <tr>
                      <td class="empycell"></td>
                      <td data-label="Date">05/13/2019</td>
                      <td data-label="Name">Suzy Que</td>
                      <td data-label="email">SuzyQ4433@gmail.com</td>
                      <td data-label="# of Signups" class="text-center">3</td>
                      <td data-label="Status" class="text-center">
                        &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                        <a class="statusactive" href="javascript:void(0)">Active</a>
                      </td>

                      <td class="empycell"></td>

                    </tr>
                    <tr class="colorblue">
                      <td class="empycell"></td>
                      <td data-label="Date">03/13/2019</td>
                      <td data-label="Name">Suzy Que <span class="toggle" (click)="isShowing()"></span></td>
                      <td data-label="email">SuzyQ4433@gmail.com</td>
                      <td data-label="# of Signups" class="text-center">3</td>
                      <td data-label="Status" class="text-center">
                        &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                        <a class="statusactive" href="javascript:void(0)">Active</a>
                      </td>
                      <td class="empycell"></td>
                    </tr>

                    <tr class="content" *ngIf="isShow==true">
                      <td class="empycell"></td>
                      <td colspan="5" class="noborder">
                        <table width="100%" border="0" cellspacing="0">
                          <tr class="graybgwcolorblack">
                            <td data-label="Date">03/13/2019</td>
                            <td data-label="Name">Suzy1 Que <span class="toggle" (click)="isShowing1()"></span></td>
                            <td data-label="email">SuzyQ4433@gmail.com</td>
                            <td data-label="# of Signups" class="text-center">3</td>
                            <td data-label="Status" class="text-center">
                              &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                              <a class="statusactive" href="javascript:void(0)">Active</a>
                            </td>
                          </tr>
                          <tr class="content1" *ngIf="isShow==true">
                            <td colspan="5" class="noborder">
                              <table width="100%" border="0" cellspacing="0">
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">John Doe</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">Karen Levy</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">Carol Wise</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr class="graybgwcolorblack">
                            <td data-label="Date">03/13/2019</td>
                            <td data-label="Name">Suzy1 Que <span class="toggle" (click)="isShowing1()"></span></td>
                            <td data-label="email">SuzyQ4433@gmail.com</td>
                            <td data-label="# of Signups" class="text-center">3</td>
                            <td data-label="Status" class="text-center">
                              &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                              <a class="statusactive" href="javascript:void(0)">Active</a>
                            </td>
                          </tr>
                          <tr class="content1" *ngIf="isShow==true">
                            <td colspan="5" class="noborder">
                              <table width="100%" border="0" cellspacing="0">
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">John Doe</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">Karen Levy</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">Carol Wise</td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr class="graybgwcolorblack">
                            <td data-label="Date">03/13/2019</td>
                            <td data-label="Name">Suzy1 Que <span class="toggle" (click)="isShowing1()"></span></td>
                            <td data-label="email">SuzyQ4433@gmail.com</td>
                            <td data-label="# of Signups" class="text-center">3</td>
                            <td data-label="Status" class="text-center">
                              &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                              <a class="statusactive" href="javascript:void(0)">Active</a>
                            </td>
                          </tr>

                          <tr class="content1 colorblue" *ngIf="isShow==true">
                            <td colspan="5" class="noborder txtbluenew">
                              <table width="100%" border="0" cellspacing="0">
                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">John Doe<span class="toggle" (click)="isShowing2()"></span></td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr class="content2" *ngIf="isShow==true">
                                  <td colspan="5" class="noborder">
                                    <table width="100%" border="0" cellspacing="0">
                                      <tr>
                                        <td data-label="Date">03/13/2019</td>
                                        <td data-label="Name">Karen Levy</td>
                                        <td data-label="email">SuzyQ4433@gmail.com</td>
                                        <td data-label="# of Signups" class="text-center">3</td>
                                        <td data-label="Status" class="text-center">
                                          &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                          <a class="statusactive" href="javascript:void(0)">Active</a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td data-label="Date">03/13/2019</td>
                                        <td data-label="Name">Carol Wise</td>
                                        <td data-label="email">SuzyQ4433@gmail.com</td>
                                        <td data-label="# of Signups" class="text-center">3</td>
                                        <td data-label="Status" class="text-center">
                                          &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                          <a class="statusactive" href="javascript:void(0)">Active</a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>

                                <tr>
                                  <td data-label="Date">03/13/2019</td>
                                  <td data-label="Name">John Doe<span class="toggle" (click)="isShowing2()"></span></td>
                                  <td data-label="email">SuzyQ4433@gmail.com</td>
                                  <td data-label="# of Signups" class="text-center">3</td>
                                  <td data-label="Status" class="text-center">
                                    &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                    <a class="statusactive" href="javascript:void(0)">Active</a>
                                  </td>
                                </tr>
                                <tr class="content2" *ngIf="isShow==true">
                                  <td colspan="5" class="noborder">
                                    <table width="100%" border="0" cellspacing="0">
                                      <tr>
                                        <td data-label="Date">03/13/2019</td>
                                        <td data-label="Name">Carry Jane</td>
                                        <td data-label="email">SuzyQ4433@gmail.com</td>
                                        <td data-label="# of Signups" class="text-center">3</td>
                                        <td data-label="Status" class="text-center">
                                          &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                          <a class="statusactive" href="javascript:void(0)">Active</a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td data-label="Date">03/13/2019</td>
                                        <td data-label="Name">John Levy</td>
                                        <td data-label="email">SuzyQ4433@gmail.com</td>
                                        <td data-label="# of Signups" class="text-center">3</td>
                                        <td data-label="Status" class="text-center">
                                          &lt;!&ndash; <a *ngIf="item.status == 0" class="statusinactive" href="javascript:void(0)" (click)="cngstatus(item)">Inactive</a>&ndash;&gt;
                                          <a class="statusactive" href="javascript:void(0)">Active</a>
                                        </td>
                                      </tr>

                                    </table>
                                  </td>
                                </tr>

                              </table>
                            </td>
                          </tr>

                        </table>
                      </td>
                      <td class="empycell"></td>
                    </tr>





                    <tr>
                      <td class="empycell"></td>
                      <td colspan="5" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td>
                      <td class="empycell"></td>
                    </tr>

                    <tr *ngIf="loadinglist">
                      <td class="empycell"></td>
                      <td colspan="5" style="text-align: center;">
                        <div class="loadertabledata"></div>
                      </td>
                      <td class="empycell"></td>
                    </tr>

                    </tbody>
                  </table>-->
                  <table *ngIf="listarray==null || listarray.length==0">
                    <!--<thead>
                    <tr>
                      <th class="empycell"></th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Enroller</th>
                      <th>Sponsor</th>
                      &lt;!&ndash;<th>Product</th>&ndash;&gt;
                      <th>Mode</th>
                      <th>Transaction Id</th>
                      <th>Total</th>
                      <th>Promocode</th>
                      <th>Discount</th>
                      <th>Order Time</th>
                      <th class="empycell"></th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <!--<tr *ngFor="let item of afforderlist | oreder1 : searchText | oreder2 : searchDate | paginate: { itemsPerPage: 10, currentPage: p }" [routerLink]="['/order-details',item._id]">
                      <td class="empycell"></td>
                      <td>{{item.firstname}} {{item.lastname}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.phone}}</td>
                      <td>{{item.affiliate}}</td>
                      <td style="text-transform: uppercase;">{{item.sponsor}}</td>
                      &lt;!&ndash;<td style="text-transform: uppercase;">{{item.productname}}</td>&ndash;&gt;
                      <td>{{item.mode}}</td>
                      <td>{{item.transactionId}}</td>
                      <td style="word-break: keep-all;">${{showtwoDecnum(item.total)}}</td>
                      <td>{{item.promocode}}</td>
                      <td style="word-break: keep-all;">{{(item.discount)?'$'+showtwoDecnum(item.discount):''}}</td>
                      &lt;!&ndash;<td>{{(item.added_time*1000) | date :  "MM/dd/yyyy hh:mma" }}</td>&ndash;&gt;
                      <td>{{item.added_time}}</td>
                      <td class="empycell"></td>
                    </tr>-->
                    <tr > <td class="empycell"></td><td colspan="25" style="color: #ee680f; padding: 16px; text-align: center;">No Record Found</td> <td class="empycell"></td></tr>
                    <!-- <tr *ngIf="loadinglist"> <td class="empycell"></td><td colspan="12" style="color: #ee680f; padding: 16px; text-align: center;"><div class="loadertabledata"></div></td> <td class="empycell"></td></tr>-->
                    </tbody>
                  </table>
                  <!----------------using listing library (material) starts here------------------------->


                  <lib-listing class="formfilterdiv formfilterdivnew" *ngIf="listarray!=null && listarray.length>0"  [datasource]="listarray" [skip]="listarray_skip" [modify_header_array]="listarray_modify_header" [sourcedata]="tablename"  [custombutton]="custombutton" [statusarr]="statusarray"></lib-listing>
                  <!----------------using listing library (material) ends here--------------------------->

                  <!--<pagination-controls  maxSize="9" autoHide="true" responsive="true" class="my-pagination"></pagination-controls>-->




                </div>

              </div>
              <div class="tabcontentwrapperoverlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<app-adminfooter></app-adminfooter>