<app-header></app-header>
<div class="newhomebanner">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/images/home_banner1.jpg" alt="#"  class="itemimg">
        <div class="newhomebanner_text">
          <h2>AudioDeadline: 8 hours, 1 amazing shared experience
            Join us as we capture the journey behind the music. </h2>

          <a [routerLink]="['/ticket-sale']" class="newhomebannerlink">Get Tickets Now</a>
        </div>
      </div>


    </div>

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>-->
  </div>


</div>


<div class="newhomeblock1">

  <div class="newhomeblock1_wrapper">


    <div class="newhomeblock1_devider"></div>

    <h2>We are <span>AudioDeadline</span> -  created by artists, for artists</h2>

    <div class="newhomeblock1_devider"></div>


    <h3><span>Our motto is All Rise Together (ART)</span> - and we take pride in building long lasting bonds between artists and their fans. Comprised of music lovers and artists, our mission is to showcase the magical moments of musical creativity - the good, the bad, and the inspiring. Fans will finally get to be live-streamed to the artist’s experience to support them as they go through the emotional mastery of song production! No matter who you are or what you’re doing, we would love for you to be part of our music industry revolution!</h3>


    <a [routerLink]="['/ourstory']" class="newhomeblock1_link1">OUR STORY</a>
    <a [routerLink]="['/team/']" class="newhomeblock1_link2">MEET THE TEAM</a>
  </div>



</div>


<div class="newhomeblock2 asnewhomeblock2">

  <div class="newhomeblock2_wrapper">

    <div class="newhomeblock1_devider"></div>

    <h2>The Deadline Experience</h2>

    <div class="newhomeblock1_devider"></div>

    <div class="newhomeblock2_imgcon">
      <img src="../../assets/images/newhome_block2img1.jpg" alt="#" style="width:100%;">

      <div class="newhomeblock2_imgconborder">
        <p>Music lovers around the world come together to experience a truly unique moment in music history. Now, for the first time ever, we are live-streaming EVERYTHING that happens in a sound studio when a song is being made. Our contest winners, step up to the challenge of creating
          a new original song live in front of all their fans.</p>
      </div>


    </div>


    <div class="newhomeblock2_textcon2">

      <div class="newhomeblock2_textcon2_left"><!--
        <br/><br/>-->
        Watch captively as we laugh, cry, and gasp in the magic moments of truly creative work! Get amped up about this one of a kind experience to be amidst these most intimate musical moments of an artist’s career.
        They only have EIGHT hours to come up with the next big hit!
        Will they be able to live up to the challenge?
        Let’s find out!  </div>
      <div class="newhomeblock2_textcon2_right">

        <img src="../../assets/images/newhome_block2img2.png" alt="#">

        <a [routerLink]="['/thedeadlineexperience']" class="newhomeblock2_textcon2_link">THE EXPERENCE</a>
      </div>



      <div class="clearfix"></div>

    </div>

  </div>
</div>


<div class="newhomeblock3">

  <div class="newhomeblock3_wrapper">

    <h2><span>our host flii stylz</span></h2>

    <div class="newhomeblock3_text">
      <p>Driving this musical revolution is entertainment powerhouse, performing artist, choreographer and music industry executive, Flii Stylz. He has a fiery passion for helping artists gain exposure in the industry and the
        extensive resume to prove it! Some of the super talented
        celebrities he has worked closely are Michael Jackson, Jennifer Lopez, Kendrick Lamar, and many more! He knows the ins and outs of the
        industry and he’s ready to guide you on the path to becoming a star.
        We are proud to have him on our team
        as our president and host! </p>

      <a [routerLink]="['/hostflii/']" class="newhomeblock2_textcon3_link">ABOUT FLII STYLZ</a>

    </div>

    <div class="newhomeblock3_img"> <img src="../../assets/images/newhome_block3_mainimg.png" alt="#"  ></div>



    <div class="clearfix"></div>


    <div class="newhomeblock3_imggallery">

      <img src="../../assets/images/newhome_block3_img1.png" alt="#"  >
      <img src="../../assets/images/newhome_block3_img2.png" alt="#"  >
      <img src="../../assets/images/newhome_block3_img3.png" alt="#"  >
      <img src="../../assets/images/newhome_block3_img4.png" alt="#"  >
      <img src="../../assets/images/newhome_block3_img5.png" alt="#"  >
      <img src="../../assets/images/newhome_block3_img6.png" alt="#"  >

      <div class="clearfix"></div>
    </div>


  </div>

</div>


<div class="newhomeblock4">

  <div class="newhomeblock4_wrapper">

    <h2><span></span>Your Chance To Be On The Deadline</h2>

    <div class="newhomeblock4_wrapper_text">
      Fulfill your dreams of working in a real sound studio! Whether you’re a producer, guitarist, or any other type of recording artist, you will be flown out to LA, all expenses paid, to collaborate with other contest
      winners in the Audio Deadline sound studio. Your stardom wishes will come true as you collaborate live in front of a captive streaming
      audience. NOT ONLY THAT, when the Deadline is over and the song is finished, it will be dropped at a major nightclub that SAME night for
      everyone to get down to!
      <br/><br/>
      Do you have what it takes or will the Deadline push you to your limit? Enter our competitions today! Hurry and make your FREE profile and upload your media! Only ArtistXP.com members can vote on the few talented artists who will be on AudioDeadline! The voting will last
      45-days, and you can vote for whoever you want,
      however many times a day you want!
      <a href="https://artistxp.com/signup" class="newhomeblock4_textcon4_link" target="_blank">JOIN ARTISXP NOW!</a>
    </div>


  </div>

</div>

<div class="newhomeblock5">

  <div class="newhomeblock5_wrapper">


    <div class="newhomeblock1_devider"></div>

    <h2>Competition/Dates</h2>

    <div class="newhomeblock1_devider"></div>


    <div class="newhomeblock5_imgwrapper">

      <div class="newhomeblock5_imgcon">
        <img src="../../assets/images/newhome_block5_img1.jpg" alt="#">

        <div class="newhomeblock5_imgconsub"><h3>Models</h3></div>
      </div>

      <div class="newhomeblock5_imgcon">
        <img src="../../assets/images/newhome_block5_img2.jpg" alt="#">

        <div class="newhomeblock5_imgconsub"><h3>Singers</h3></div>
      </div>

      <div class="newhomeblock5_imgcon">
        <img src="../../assets/images/newhome_block5_img3.jpg" alt="#">

        <div class="newhomeblock5_imgconsub"><h3>Dancers</h3></div>
      </div>

      <div class="newhomeblock5_imgcon">
        <img src="../../assets/images/newhome_block5_img4.jpg" alt="#">

        <div class="newhomeblock5_imgconsub"><h3>Producers/Sound Engineers </h3></div>
      </div>



      <div class="clearfix"></div>
    </div>





    <h3><!--Be sure to set up your ArtistXP profile and upload your media so that users can vote for you! The competitions that will be held this quarter are for vocalists, rappers, producers, and dancers. They will begin on March 15th, 2019 and will end on May 1st, 2019. We’re looking forward to receiving your submissions and becoming part of our <span>All Rise Together (ART)</span> revolution!  -->Be sure to set up your ArtistXP profile and upload your media so that users can vote for you! The competitions that will be held this quarter are for vocalists, rappers, producers, and dancers. Sign-ups will begin on <!--March 1st, 2019-->July 1st, 2019 and will end on July 15th, 2019<!--March 15th, 2019-->. We’re looking forward to receiving your submissions and becoming part of our <span>All Rise Together (ART)</span> revolution!</h3>


    <a href="https://artistxp.com/competition" class="newhomeblock5_link" target="_blank">SEE COMPETITIONS</a>

  </div>



</div>

<div class="newhomeblock6">

  <div class="newhomeblock6_wrapper">

    <div class="newhomeblock6_wrapper_text">

      <h2>Explore the avenues of making new music, the intense creativity it calls for, and the artists and fans that work hard to make it what it is - <span>extraordinary!</span></h2>


      <label>Let’s All Rise Together!</label>
      <a [routerLink]="['/ticket-sale']" class="newhomeblock6_link">Get Tickets Now</a>
    </div>

  </div>


</div>

<app-footer></app-footer>




<!--
<app-header></app-header>
<div class="container-fluid topbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>the audiodeadline.com</h2>
        <h2>experience is streamed</h2>
        <h2>live bringing artists together in </h2>
        <h2>the studio creating</h2>
        <h2>a brand-new song.</h2>
        <h3>Our Award winning Celebrity Flii Stylz brings special guests, <span>audience interaction, and a thrilling 8 HOUR DEADLINE to cut a new song!</span></h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock1">
  <div class="row">
    <div class="aboutblock1wrapperimg"><img src="../../assets/images/aboutblock1left.png"></div>
    <div class="aboutblock1content">
      <h2>Have you ever wanted to go behind the scenes to witness firsthand what happens during a live studio recording session? </h2>
      <h4>We are building an incredible massive online community of musicians, fans and excitement named www.ArtistXP.com launching March 22nd, 2019 around our ground breaking and inspiring new online streaming show, Audio Deadline. Our content is like nothing ever experience before. Stick around and you will see for yourself.</h4>
      <table class="aboutblock1table">
        <tbody>
        <tr>
          <td class="aboutblock1imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
          <td class="aboutblock1imgwrapperright"><span>On the Audio Deadline live streaming event</span> we have excitement, artist collaboration, and a chance for fans to be present in the moment while artists are creating a new song. Contest winning Indie Artists from our ArtistXP social network are in the heat of the moment of their creativity all for a streaming viewer audience. During the stream, special guests from the music industry, audience collaboration, and extras keep it fresh with our celebrity host Flii Stylz. All while fans are watching and having a great time a new song is born.</td>
        </tr>
        </tbody>
      </table>
      <h3>WHILE AUDIO DEADLINE IS STREAMING LIVE, THE ARTISTS ARE CREATING THEIR MUSIC AND FANS ARE VIRTUALLY RIGHT THERE IN THE STUDIO WITH THEM.</h3>
      <h5>The AudioDeadline.com Experience is a live streamed show available online and worldwide packed with excitement and a viewer experience you can get nowhere else. If you are a musician, producer, video dancer, or professional model there are competitions running for all of you to participate!</h5>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock4">
  <div class="row aboutblock4contentwrapper">
    <div class="aboutblock4wrapperimg">
      <img src="../../assets/images/aboutblock4right.png">
    </div>
    <div class="aboutblock4content">
      <h2>Picture this Scenario</h2>
      <h4>Our contest winning artists meet for the first time outside the studio and we capture this meeting on live broadcast. They are introduced by our host flii stylz speak for a bit and then enter the studio.</h4>
      <h3><span>The Heat is on</span> They now have 8 hours to cut a brand-new song and are under the deadline clock to send it for production and final cut. They cannot leave until they are done.</h3>
      <h5><span>Once the new song</span> is finished it is mixed down and that night, on a live broadcast we drop the beat in a club where everyone there can download the song.<br><br><span>Fans log into their audio deadline </span> accounts and pay $14.95 for complete access to all 8-hours of the live event, PLUS the club live broadcast.<br><br><span>The audience</span> is on the edge of their seat as many have dreamed this type of studio intimacy with their favorite artists.<br><br><span>Millions of music enthusiasts</span> from all over the world will view the livestream of the Audio Deadline Experience and we will quickly become the premiere music destination on the Internet.</h5>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock3">
  <div class="row aboutblock3contentwrapper">
    <div class="aboutblock3wrapperimg">
      <img src="../../assets/images/aboutblock3left.png">
    </div>
    <div class="aboutblock3content">
      <h2>Our host is the world famous Flii Stylz</h2>
      <h4><span>Flii Stylz, Music Industry Executive, Choreographer, Movie Star,</span> <br>Rap Artist, and Professional Mentor, <br>is bringing the new revolution to the music industry!</h4>
      <h5>No one else has the background, experience, and industry know-how that Flii Stylz brings to the table. He has worked with major industry stars such as Michael Jackson, Gloria Estefan, Bette Midler, Enrique Iglesias, John Lee Hooker, Usher, Nicki Minaj and, of course, <span>Chris Brown, helping to define their signature style and perfect their brand. And he isn’t done yet! Flii Stylz is leading the way to a new era of music industry creation.</span></h5>
      <a [routerLink]="['/host-flii-stylz']" class="visitfllistyle">Learn more about Flii Stylz our Celebrity Host</a>
    </div>
  </div>
</div>


<div class="container-fluid homenewblock1">
  <div class="homenewblock1wrapperimg">
    <img src="../../assets/images/homenewblock1right.jpg">
  </div>
  <div class="row homenewblock1contentwrapper">
    <div class="homenewblock1content">
      <h2>Producers, Musicians, Vocalists,</h2>
      <h2>Dancers listen up!</h2>
      <h5><span>You can compete for a position in the AudioDeadline.com</span> Experience as an Artist and be a guest on our show!<br><br> We have several prizes and sponsor driven opportunities such as a distribution deal for the new song.  Not only can producers, rappers, vocalists and other musicians compete to be on the show, but models and dancers are able to join as well!<br><br>The competitions are all accessed through our <span class="bluetxtnew1">Artist Experience Social Network ArtistXP.com</span></h5>
    </div>
  </div>
</div>



<div class="container-fluid homenewblock2">
  <div class="homenewblock2wrapperimg">
    <img src="../../assets/images/homenewblock2left.jpg">
  </div>
  <div class="row homenewblock2contentwrapper">
    <div class="homenewblock2content">
      <h2>April AudioDeadline.com</h2>
      <h2>Competitions:</h2>
      <ul>
        <li><span>Vocalist Competition –</span> Entry starts April 1st 2019 and runs through April 15th 2019</li>
        <li><span>Rapper Competition –</span> Entry starts April 1st 2019 and runs through April 15th 2019</li>
        <li><span>Producer Competition –</span> Entry starts April 1st 2019 and runs through April 15th 2019</li>
        <li><span>Dancer Competition (2 winners) –</span> Entry starts April 1st 2019 and runs through April 15th 2019</li>
      </ul>
      <h5>All Competitions will officially start April 20th 2019 and end on June 1st 2019!
</h5>
      <h5>Go to <a style="color: #c92e85;" href="https://artistxp.com" target="_blank">www.ArtistXP.com</a> right now and get ready to have a great time as we race to the deadline!</h5>
    </div>
  </div>
</div>
<div class="container-fluid tophomeblock2">
  <div class="tophomeblock2layer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tophomeblock2rightbg">
        <div class="tophomeblock2content">
          <h2><strong>Be Part</strong> of the Magic of <span>Music !</span></h2>
          <h4>The Deadline takes you straight into the studio with your favorite artists and gives them a deadline to come up with a completely new song in just 8 hours!</h4>
          <h5>Imagine being able to experience the magic of your favorite artists creating a brand new hit. See what goes into creating a new tune with collaboration, inspiration, and the musical genius of the hottest singers on the scene.</h5>
          <h3>This is a one-of-a-kind music experience!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
-->
