<!--
<div class="container-fluid footer_area">
  <div class="row">
    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 pull-left copyrightdiv">
      <p>©2017 COPYRIGHT by Audio Deadline</p>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 pull-right footerrightdiv">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 footerrightdivsocial">
          <ul class="list-inline socialmediaftlinks"><li class="list-inline-item">
            <span>Follow us on</span>
            <a href="https://www.facebook.com/audiodeadline/" target="_blank">
              <img src="../../assets/images/ft-fbicon.png">
            </a>
          </li>
            <li class="list-inline-item"><span>Follow us on</span><a href="https://www.instagram.com/audioflii/" target="_blank"><img src="../../assets/images/ft-instagramicon.png"></a></li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
          <div class="footernav">
            <ul>
              <li class="ssd lidiv0 active"><a class="dropdown-toggle" href="/"> home </a></li>
              <li class="ssd lidiv1 "><a class="dropdown-toggle" href="/host-flii-stylz"> Host Flii Stylz </a></li>
              <li class="ssd lidiv2 "><a class="dropdown-toggle" href="/ticket-sale"> Get Streaming Tickets </a></li>
              <li class="ssd lidiv4 "><a class="dropdown-toggle" href="/dates"> Dates </a></li>
              <li class="ssd lidiv5 "><a class="dropdown-toggle" href="/team"> Team </a></li>
              <li class="ssd lidiv6 "><a class="dropdown-toggle" href="http://artistxp.com/" target="_blank"> ArtistXP Social </a></li>
              <li class="ssd lidiv7 "><a class="dropdown-toggle" href="/LaEvent"> La Event </a></li>
              <li class="ssd lidiv7 "><a class="dropdown-toggle" href="/contactus"> Contact </a></li>
              &lt;!&ndash;&ndash;&gt;</ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="container-fluid footer_area n-adminfooter">
  <div class="row n-adminfooterrow">
    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-left copyrightdiv">
      <p>Copyright © 2019 Audio Deadline. All Rights Reserved.</p>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 pull-right footerrightdiv">
      <div class="row">
        <div class="footerrightdivsocial">
          <ul class="list-inline socialmediaftlinks"><li class="list-inline-item">
            <span>Follow us on</span>
            <a href="https://www.facebook.com/audiodeadline/" target="_blank">
              <img src="../../assets/images/ft-fbicon.png">
            </a>
          </li>
            <li class="list-inline-item"><span>Follow us on</span><a href="https://www.instagram.com/audioflii/" target="_blank"><img src="../../assets/images/ft-instagramicon.png"></a></li>
          </ul>
        </div>
        <div class="footernav">
          <ul>
            <li class="ssd lidiv0 active"><a class="dropdown-toggle" href="/">Privacy Statement</a></li>
            <li class="ssd lidiv1 "><a class="dropdown-toggle" href="/host-flii-stylz">Terms of Use</a></li>
            <li class="ssd lidiv2 "><a class="dropdown-toggle" href="/ticket-sale">Refunds and Returns</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


